<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/bluedevil-5.12.8.tar.xz">bluedevil-5.12.8</a></td>
   <td align="right">146kB</td>
   <td><tt>89c6a1ccb7804f02d34af5df5371bc59cfd3988f21f44d1fa054ff173ddf00f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/breeze-5.12.8.tar.xz">breeze-5.12.8</a></td>
   <td align="right">21MB</td>
   <td><tt>e2e50eab5b8b758507144ad2fc8bf384168f68d763f92b22e7c862d1b832926f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/breeze-grub-5.12.8.tar.xz">breeze-grub-5.12.8</a></td>
   <td align="right">3.0MB</td>
   <td><tt>15c423d0e783b81bd71e726c8aadee1c6807061f0a9c88accab589d966ab5c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/breeze-gtk-5.12.8.tar.xz">breeze-gtk-5.12.8</a></td>
   <td align="right">209kB</td>
   <td><tt>a8e136c869f93938d55153f4060c0e38b871ee6af4ed5cc8563bde01a38d195a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/breeze-plymouth-5.12.8.tar.xz">breeze-plymouth-5.12.8</a></td>
   <td align="right">103kB</td>
   <td><tt>af083953a036acd025ea26e4c6ef4734a2f5fd7fccf70098c2e6c604c671af86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/discover-5.12.8.tar.xz">discover-5.12.8</a></td>
   <td align="right">9.7MB</td>
   <td><tt>1cae2e3a06e5f315e29420de874beefed2f8df4b3416c143c9a247ff2f383385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/drkonqi-5.12.8.tar.xz">drkonqi-5.12.8</a></td>
   <td align="right">719kB</td>
   <td><tt>7f2cb28b64a8ad551822c0d7658d72bd5ae5e0cb08a542be103fccedc4fe51b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kactivitymanagerd-5.12.8.tar.xz">kactivitymanagerd-5.12.8</a></td>
   <td align="right">83kB</td>
   <td><tt>5a3be8526b1fa2901e305a71eb47705015b8bcf3d346acf4b3505b9dd8305dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kde-cli-tools-5.12.8.tar.xz">kde-cli-tools-5.12.8</a></td>
   <td align="right">568kB</td>
   <td><tt>db39bb8d077369091adc9043f8c7d3e98343cf31b72bdb5edefc763891254b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kdecoration-5.12.8.tar.xz">kdecoration-5.12.8</a></td>
   <td align="right">34kB</td>
   <td><tt>e1d8a2c3366bd38bb3fd760e505b8ff93548064c3e86ae37bbdc886dce8951dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kde-gtk-config-5.12.8.tar.xz">kde-gtk-config-5.12.8</a></td>
   <td align="right">153kB</td>
   <td><tt>2b4a98fc9c20936970c001ecff9aedf821fd5068e1b01d317827d19f16369d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kdeplasma-addons-5.12.8.tar.xz">kdeplasma-addons-5.12.8</a></td>
   <td align="right">560kB</td>
   <td><tt>83fc4cd4cc0cb206ddbaf78b8fb75920809dcaad6564dd08514be9b4d89283f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kgamma5-5.12.8.tar.xz">kgamma5-5.12.8</a></td>
   <td align="right">59kB</td>
   <td><tt>5e9485768f917885e0d0b8cc49f242bc873d65ac23619b9ba48e8a1f951b8c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/khotkeys-5.12.8.tar.xz">khotkeys-5.12.8</a></td>
   <td align="right">1.3MB</td>
   <td><tt>27017177b6c8200794d30942337156a72f7d93db46dffcd191740a9a2c670775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kinfocenter-5.12.8.tar.xz">kinfocenter-5.12.8</a></td>
   <td align="right">1.2MB</td>
   <td><tt>7150022b8ba6c7da2243fb52448efb07d00a56f2cf15015c334c4703ffdb180b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kmenuedit-5.12.8.tar.xz">kmenuedit-5.12.8</a></td>
   <td align="right">797kB</td>
   <td><tt>c8c55de3dd2ffc32632b5a8c43cf04de56519bc7c1a46f2d982c1292555ba4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kscreen-5.12.8.tar.xz">kscreen-5.12.8</a></td>
   <td align="right">115kB</td>
   <td><tt>38024a03d1489e238afc15037242b1145107a59ced059b4f90a2c717478c48d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kscreenlocker-5.12.8.tar.xz">kscreenlocker-5.12.8</a></td>
   <td align="right">117kB</td>
   <td><tt>09db2811bced9dcef1e5aeac55620178afbc4905341b4fe9f955a438262836a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/ksshaskpass-5.12.8.tar.xz">ksshaskpass-5.12.8</a></td>
   <td align="right">20kB</td>
   <td><tt>b78a912c6b78b16329b5b188f52c37f14dbfded08e709f55ab8275274092a63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/ksysguard-5.12.8.tar.xz">ksysguard-5.12.8</a></td>
   <td align="right">485kB</td>
   <td><tt>0d0b605780838dd2b69a5cbcf88efaec2f0763a94f424d3c76ccdb4d4645e663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kwallet-pam-5.12.8.tar.xz">kwallet-pam-5.12.8</a></td>
   <td align="right">18kB</td>
   <td><tt>273936b0f3f098524f548d4345f5e5b3f5febbc2868c3e7f1946234976d763dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kwayland-integration-5.12.8.tar.xz">kwayland-integration-5.12.8</a></td>
   <td align="right">18kB</td>
   <td><tt>cc5f9ab4c4480794f776dd132f023154d676b8570d6247a6c44e8023aa4d9fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kwin-5.12.8.tar.xz">kwin-5.12.8</a></td>
   <td align="right">6.2MB</td>
   <td><tt>2c77582b4df965468cdbab3de9ef53b31b060fba5c35387435445f673207891a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/kwrited-5.12.8.tar.xz">kwrited-5.12.8</a></td>
   <td align="right">19kB</td>
   <td><tt>3799b9e6bda1b962171ddb885c47b64212e83b352cc01fb2bcd31f0ae7a9ffc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/libkscreen-5.12.8.tar.xz">libkscreen-5.12.8</a></td>
   <td align="right">92kB</td>
   <td><tt>d9f734f29fa1d77073f19b5b1be8793f0bae80a2de56614b34912b3a6845f006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/libksysguard-5.12.8.tar.xz">libksysguard-5.12.8</a></td>
   <td align="right">557kB</td>
   <td><tt>b7a2880afcd42de85ee76c2b08fc93a11fac9c815fbb4ea7d523f4e293c929c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/milou-5.12.8.tar.xz">milou-5.12.8</a></td>
   <td align="right">56kB</td>
   <td><tt>5d4fc2f9278b588a8709205a329d682f104ea9577fec5b6dcb508f36daeb4090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/oxygen-5.12.8.tar.xz">oxygen-5.12.8</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e340cb42701d1893507b03d37e8d4270c499fb03891e23e15ef1a5eeaa82e702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-desktop-5.12.8.tar.xz">plasma-desktop-5.12.8</a></td>
   <td align="right">8.7MB</td>
   <td><tt>e22007ca7b260a3bd56945f79c5eed7c96826965d4078bc0343cc9380b9cfd86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-integration-5.12.8.tar.xz">plasma-integration-5.12.8</a></td>
   <td align="right">52kB</td>
   <td><tt>5af167d32998a4b631af1f312c4a48e1b7f7a881c6768120f79ce4ea67b0dc78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-nm-5.12.8.tar.xz">plasma-nm-5.12.8</a></td>
   <td align="right">703kB</td>
   <td><tt>153348094ffd477d900d68e0c1e44369d03afeee155022bbeaf37ac65f73a01a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-pa-5.12.8.tar.xz">plasma-pa-5.12.8</a></td>
   <td align="right">86kB</td>
   <td><tt>bdb1aadfacb2301e0ed51fbd82857a244f7445c85807c19a0cbe08de28893422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-sdk-5.12.8.tar.xz">plasma-sdk-5.12.8</a></td>
   <td align="right">240kB</td>
   <td><tt>49605e4a2e9685dfda525e9225171b1d88024b0f3b30210b79426303d3dc5c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-tests-5.12.8.tar.xz">plasma-tests-5.12.8</a></td>
   <td align="right">1kB</td>
   <td><tt>22a7500fc799e289a4e9e3a352a908bf648c05d3cb3400801665271a2b9e6e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-vault-5.12.8.tar.xz">plasma-vault-5.12.8</a></td>
   <td align="right">104kB</td>
   <td><tt>b1365f3292c2087fe0c52f7795ac47bfee1d0f8f58729562461dc169aa02600c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-workspace-5.12.8.tar.xz">plasma-workspace-5.12.8</a></td>
   <td align="right">4.3MB</td>
   <td><tt>72496c952fed828a4c7ab5d767af565bf480c5a80be34ea7ffb51b778e854321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plasma-workspace-wallpapers-5.12.8.tar.xz">plasma-workspace-wallpapers-5.12.8</a></td>
   <td align="right">43MB</td>
   <td><tt>1e0d6acb0c0d0b7bc842839d33a63d5078d69e5cbedbe4cf920286640493919c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/plymouth-kcm-5.12.8.tar.xz">plymouth-kcm-5.12.8</a></td>
   <td align="right">38kB</td>
   <td><tt>6176a8547f27b4563f71818547f422912c56a16a5f4f6e677e606df671d19028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/polkit-kde-agent-1-5.12.8.tar.xz">polkit-kde-agent-1-5.12.8</a></td>
   <td align="right">41kB</td>
   <td><tt>9d50bca3dd4b5ee5e209a300f8af672150e98c6824babdae392993dbdede89c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/powerdevil-5.12.8.tar.xz">powerdevil-5.12.8</a></td>
   <td align="right">525kB</td>
   <td><tt>66cc8a2d5a0c8119264a53225c6a710176ade7951d71dd09081d7912f8091f77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/sddm-kcm-5.12.8.1.tar.xz">sddm-kcm-5.12.8.1</a></td>
   <td align="right">59kB</td>
   <td><tt>db666aeec57266c5261c91680b5f113e5974961ba25bd71408fd5f8288b3617d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/systemsettings-5.12.8.tar.xz">systemsettings-5.12.8</a></td>
   <td align="right">174kB</td>
   <td><tt>6c746b5f4642fa738fc28a672bf0dd442b468aa7dc83f5b74aac0919aff6d853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/user-manager-5.12.8.tar.xz">user-manager-5.12.8</a></td>
   <td align="right">533kB</td>
   <td><tt>72a232e8d3196561f5ed2e98cb93e131b894f21c3e4f8d14422cd9556169a3e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.8/xdg-desktop-portal-kde-5.12.8.tar.xz">xdg-desktop-portal-kde-5.12.8</a></td>
   <td align="right">30kB</td>
   <td><tt>ca9243b786d2dfd08074b2b75395a488a7b35bb33ad3a4f6574f1bd6768dd3cf</tt></td>
</tr>

</table>
