<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/bluedevil-5.4.2.tar.xz">bluedevil-5.4.2</a></td>
   <td align="right">125kB</td>
   <td><tt>a0b5b46f4ffae99ff2b591703e3fc82f3af1f12d1929c7980c28367ddc2abdab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/breeze-5.4.2.tar.xz">breeze-5.4.2</a></td>
   <td align="right">34MB</td>
   <td><tt>9d2861867f133006ac7e1644c9b932a0f8cdf79ba912898f565d301a362e859e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kde-cli-tools-5.4.2.tar.xz">kde-cli-tools-5.4.2</a></td>
   <td align="right">472kB</td>
   <td><tt>626474b9890c789a7bde44bdd40c4c5999a45161cb1fa62eee7873a8250b8c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kdecoration-5.4.2.tar.xz">kdecoration-5.4.2</a></td>
   <td align="right">32kB</td>
   <td><tt>7d70aee4e709771cb7ec09a5c1316b286c407ac44375078e7d5fd3df0103a050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kde-gtk-config-5.4.2.tar.xz">kde-gtk-config-5.4.2</a></td>
   <td align="right">141kB</td>
   <td><tt>1d1c78a6b0aa28fc615d1fbfd0c267cfd5f381d39e810786863bef07bdb54340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kdeplasma-addons-5.4.2.tar.xz">kdeplasma-addons-5.4.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d3cdfc957bcdde52729efa9b2f4d44c4981b01461b1494a9086bf85e2023c344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kgamma5-5.4.2.tar.xz">kgamma5-5.4.2</a></td>
   <td align="right">58kB</td>
   <td><tt>7e74220e7ef981105eaa869d4e84af5483d7354937e04ebe481fc1dc33a5e60b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/khelpcenter-5.4.2.tar.xz">khelpcenter-5.4.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>66173f221a02f1a1f3531a0864dbf2927170bdbb0205270721aa5ba84e12456c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/khotkeys-5.4.2.tar.xz">khotkeys-5.4.2</a></td>
   <td align="right">592kB</td>
   <td><tt>63ec301a2549a13cf382929d093ebbf673bc50f4cc1067ce15f28fef48ca44c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kinfocenter-5.4.2.tar.xz">kinfocenter-5.4.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>187eb50cd473a64e382d5b3e918219e31ed58043b3db6802e0e1870fb5de2bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kmenuedit-5.4.2.tar.xz">kmenuedit-5.4.2</a></td>
   <td align="right">431kB</td>
   <td><tt>65279e8f552a605ec25215caebeeb70e9ecc7d901ca1069bc0019e1085f3624b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kscreen-5.4.2.tar.xz">kscreen-5.4.2</a></td>
   <td align="right">97kB</td>
   <td><tt>97f216f19f36f96092276e06ae42c8c31d1464d10db88ee34e242e7bb18a3152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/ksshaskpass-5.4.2.tar.xz">ksshaskpass-5.4.2</a></td>
   <td align="right">18kB</td>
   <td><tt>2bd7ad5d1f0fc9664a9c2b406d987ff9c77b423f982d837dda7f1d5a7a4baa8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/ksysguard-5.4.2.tar.xz">ksysguard-5.4.2</a></td>
   <td align="right">469kB</td>
   <td><tt>d50dfc6f750404489b3759045ca727859678b65c085382c22907f0214ef9c7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kwallet-pam-5.4.2.tar.xz">kwallet-pam-5.4.2</a></td>
   <td align="right">15kB</td>
   <td><tt>14803fbacd84636a6e0d0e8f37bf8ea847b493653d452bbf633148614ba38969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kwayland-5.4.2.tar.xz">kwayland-5.4.2</a></td>
   <td align="right">109kB</td>
   <td><tt>97ebaec8c02923f645a72ffa88a9e4e50c80b2830af0d7bf741d82defef112c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kwayland-integration-5.4.2.tar.xz">kwayland-integration-5.4.2</a></td>
   <td align="right">13kB</td>
   <td><tt>c9c57d48e55cb5eb660d715d63d57337da8abd940288ad6807cee6624cdb1021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kwin-5.4.2.tar.xz">kwin-5.4.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>204926490a95a060c66fa0367fc6d44e7d8dd582775d699f1616fc3a0c0d4191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/kwrited-5.4.2.tar.xz">kwrited-5.4.2</a></td>
   <td align="right">19kB</td>
   <td><tt>47a330429f9cd6e84cf489ec5f05e6052d7c1dc4892d1d9be04308c891d88842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/libkscreen-5.4.2.tar.xz">libkscreen-5.4.2</a></td>
   <td align="right">70kB</td>
   <td><tt>da2311e9cd4aac24f6545372b6084ed7d80b4e1adfd36836999fba7ea4105f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/libksysguard-5.4.2.tar.xz">libksysguard-5.4.2</a></td>
   <td align="right">548kB</td>
   <td><tt>712376c169e7cb04237b77a5efcbdb26ae94ecfc7c8841836b79eaf8914ca90a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/milou-5.4.2.tar.xz">milou-5.4.2</a></td>
   <td align="right">49kB</td>
   <td><tt>3f31cab3200c034fdfecd9c63a60b85d856514784e19dc64906fbbb7ae395316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/muon-5.4.2.tar.xz">muon-5.4.2</a></td>
   <td align="right">993kB</td>
   <td><tt>e49b9b32c46e2b00a044db498eb016eb8ce0768cd305f00504ea451757bad332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/oxygen-5.4.2.tar.xz">oxygen-5.4.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>66641df409c624bf12d4f40687906ccd80c8f25e834c7da431503fbb0de4223a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/oxygen-fonts-5.4.2.tar.xz">oxygen-fonts-5.4.2</a></td>
   <td align="right">157kB</td>
   <td><tt>74ce20431b825c7903a4a11825432c88a1a2537456314c260fca75fbf5a37db7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/plasma-desktop-5.4.2.tar.xz">plasma-desktop-5.4.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>0f83fbabac177c222f1e8d209af8a69e968e3df20961cf46805a0934ab37daa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/plasma-mediacenter-5.4.2.tar.xz">plasma-mediacenter-5.4.2</a></td>
   <td align="right">154kB</td>
   <td><tt>2e027f20d584f31b90b829acfe13d6f0af21779165808fa14dae1d971c50235a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/plasma-nm-5.4.2.tar.xz">plasma-nm-5.4.2</a></td>
   <td align="right">534kB</td>
   <td><tt>c868ae9e307895eedcefca399a0976afb9bdaa53c6b7b1de39b19edca53eded2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/plasma-pa-5.4.2.tar.xz">plasma-pa-5.4.2</a></td>
   <td align="right">42kB</td>
   <td><tt>91e8c80372ae6374c8f6b6a9b9264cf0788c559de6f155304425be1981b03926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/plasma-sdk-5.4.2.tar.xz">plasma-sdk-5.4.2</a></td>
   <td align="right">631kB</td>
   <td><tt>a01c5e5272f76b54271aecdb09761ae30c70d8c8aba2881bfbb35502689593e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/plasma-workspace-5.4.2.tar.xz">plasma-workspace-5.4.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>36c7b04b30533b9b14440b1286f1130222f2212bfa8f2f033a4ff928a923d22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/plasma-workspace-wallpapers-5.4.2.tar.xz">plasma-workspace-wallpapers-5.4.2</a></td>
   <td align="right">53MB</td>
   <td><tt>5a82417c6904b0f97c50428d0540bd9895fe3332605b2fabbaebb15665d3efa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/polkit-kde-agent-1-5.4.2.tar.xz">polkit-kde-agent-1-5.4.2</a></td>
   <td align="right">38kB</td>
   <td><tt>b031c11a7a2219da0128137f59fe392ae8c3f916760490b3991be8eb66071f68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/powerdevil-5.4.2.tar.xz">powerdevil-5.4.2</a></td>
   <td align="right">338kB</td>
   <td><tt>5caabfe1672fb0d1838eac2b06199465d8bf665c669a0f17d5c6cbed17a81a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/sddm-kcm-5.4.2.tar.xz">sddm-kcm-5.4.2</a></td>
   <td align="right">46kB</td>
   <td><tt>12e80c564b9a951c3f65ccec6174737973de5a6ada4572afcb7338efe915c674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/systemsettings-5.4.2.tar.xz">systemsettings-5.4.2</a></td>
   <td align="right">153kB</td>
   <td><tt>7a31b58523fe6d9094644026bdd7eca279021b3887949e52f0131fade6580733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.2/user-manager-5.4.2.tar.xz">user-manager-5.4.2</a></td>
   <td align="right">53kB</td>
   <td><tt>f5d34359134eb0687a5ec60d8888246242e7d3fccbb78a90231239ea7c297dc6</tt></td>
</tr>

</table>
