<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/bluedevil-5.17.3.tar.xz">bluedevil-5.17.3</a></td>
   <td align="right">156kB</td>
   <td><tt>7725e3e747a7c8b4288d8b76395c141346c8afc7e68790a3bb9ba5d6bbb32b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/breeze-5.17.3.tar.xz">breeze-5.17.3</a></td>
   <td align="right">15MB</td>
   <td><tt>89dde39b69e857d102e60e7b33cc5dd3481539484678ff8cdb30393d5a4d28c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/breeze-grub-5.17.3.tar.xz">breeze-grub-5.17.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6f4b2b66c7fa7c420fc0b05402683303e52906cacc88b2e4a55e7af0ccdbeb2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/breeze-gtk-5.17.3.tar.xz">breeze-gtk-5.17.3</a></td>
   <td align="right">43kB</td>
   <td><tt>9b72b49a872b204522f6b65aff0504d3c40f568f3c8217d725a6c8a3867f1174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/breeze-plymouth-5.17.3.tar.xz">breeze-plymouth-5.17.3</a></td>
   <td align="right">102kB</td>
   <td><tt>55ab2bacda0ecd7fae8589ca43314df35a06eb5a28913e2499e9aceefa27fe0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/discover-5.17.3.tar.xz">discover-5.17.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>2019dff13548d304bcf7b7abcef90ebedc8cfbfcdefa8a28344c5200fe3aa611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/drkonqi-5.17.3.tar.xz">drkonqi-5.17.3</a></td>
   <td align="right">720kB</td>
   <td><tt>ceda42c9f53ae58b0e983d881d66acaf0b409c4e2cb55e9aa2e18ded714415e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kactivitymanagerd-5.17.3.tar.xz">kactivitymanagerd-5.17.3</a></td>
   <td align="right">84kB</td>
   <td><tt>840f05d0fe253491c5d3bfa1953b68a7bf44e671a18baa56c99d5b6e1358130a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kde-cli-tools-5.17.3.tar.xz">kde-cli-tools-5.17.3</a></td>
   <td align="right">576kB</td>
   <td><tt>584a139c0334164053663e87da0b640ab8af582e3521c06767e525b44cd9f4b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kdecoration-5.17.3.tar.xz">kdecoration-5.17.3</a></td>
   <td align="right">41kB</td>
   <td><tt>9c0bb9f0d8ac8df73adbd68606260503e4fc389888da47d92635f3f2a6a2a0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kde-gtk-config-5.17.3.tar.xz">kde-gtk-config-5.17.3</a></td>
   <td align="right">150kB</td>
   <td><tt>d25e45e31ead82e06a1091626a906a9e8cf023b4595b631b9b89be0a15b74575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kdeplasma-addons-5.17.3.tar.xz">kdeplasma-addons-5.17.3</a></td>
   <td align="right">589kB</td>
   <td><tt>ae1e88249558a40413a31ea97599aa7534fff6c018096435cd15d514f20b499f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kgamma5-5.17.3.tar.xz">kgamma5-5.17.3</a></td>
   <td align="right">78kB</td>
   <td><tt>5f2428fdd7365cc2b99f3974b6155fbec28dcf2863dbb7caab421c5bc1156003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/khotkeys-5.17.3.tar.xz">khotkeys-5.17.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>77dc49b9d7025276804a8064b526e70943e3c88babbbd0645d6916d4d985f7d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kinfocenter-5.17.3.tar.xz">kinfocenter-5.17.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a692b7132c4827398b61815f8f2860b98434a0710106588e0ccb5a33dd03205e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kmenuedit-5.17.3.tar.xz">kmenuedit-5.17.3</a></td>
   <td align="right">795kB</td>
   <td><tt>a49946813e681a9a06db48dc81d44229255ab5879091a804596a3d3f47804e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kscreen-5.17.3.tar.xz">kscreen-5.17.3</a></td>
   <td align="right">96kB</td>
   <td><tt>fe387d0a51236de1c24947d4b3e6de6cdfd9d36133ae5b2f66eca321ec12095e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kscreenlocker-5.17.3.tar.xz">kscreenlocker-5.17.3</a></td>
   <td align="right">120kB</td>
   <td><tt>d74efdeb4166162b4d0df994fee97ae1ef4201931ca56eecca487ab11acda2ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/ksshaskpass-5.17.3.tar.xz">ksshaskpass-5.17.3</a></td>
   <td align="right">20kB</td>
   <td><tt>5a5c4f78808ebc0272abaaff03aa9a89928740348b0f7c735761a1fa334ca81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/ksysguard-5.17.3.tar.xz">ksysguard-5.17.3</a></td>
   <td align="right">502kB</td>
   <td><tt>18f3d94a02e4d8bdc198bca8f5d319407956ef60e0a9d52159de86fac32efcbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kwallet-pam-5.17.3.tar.xz">kwallet-pam-5.17.3</a></td>
   <td align="right">19kB</td>
   <td><tt>7b3f20bf1a1ed35293fe82359ec069879dcca6b71f8622e2706c6f48477100f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kwayland-integration-5.17.3.tar.xz">kwayland-integration-5.17.3</a></td>
   <td align="right">19kB</td>
   <td><tt>4f7b0ad0a0fb57068e971235c59f041153663562cf876bdd8c4182e6f4adab4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kwin-5.17.3.tar.xz">kwin-5.17.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>fba18f7d8a3f97a1852313ebc9ba65094957fda8deefc09c27fd0a97207b2513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/kwrited-5.17.3.tar.xz">kwrited-5.17.3</a></td>
   <td align="right">19kB</td>
   <td><tt>343d51d01dfde4a837492d67a3d8aa13411c2d47f51f89fa34edde1dd0d696d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/libkscreen-5.17.3.tar.xz">libkscreen-5.17.3</a></td>
   <td align="right">80kB</td>
   <td><tt>14f29c3ae4c57f4e312c51716825bf342714ccb428ee425266d2521b17276ffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/libksysguard-5.17.3.tar.xz">libksysguard-5.17.3</a></td>
   <td align="right">588kB</td>
   <td><tt>28019970d8b067cab2fd0d45d29f1f408da78b7a164bf9ffda52e7190e0a1a41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/milou-5.17.3.tar.xz">milou-5.17.3</a></td>
   <td align="right">61kB</td>
   <td><tt>fbb7193d654b8be9a0d17f0e421a1e900f8b8e08d40bd3fed45635ca74e02837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/oxygen-5.17.3.tar.xz">oxygen-5.17.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b514bd99638850237a4adc88b485920fbd04fe6646a0669ec7934d6613c143aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-browser-integration-5.17.3.tar.xz">plasma-browser-integration-5.17.3</a></td>
   <td align="right">142kB</td>
   <td><tt>4149dbffcb6f4289b2acf2a8d4679e52340a58d61ed8bec291b6b5a940a7034d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-desktop-5.17.3.tar.xz">plasma-desktop-5.17.3</a></td>
   <td align="right">9.0MB</td>
   <td><tt>728c456421bc24f6d37da00f7cb24fa6935999ba6fdd4de08b24577b3aec1844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-integration-5.17.3.tar.xz">plasma-integration-5.17.3</a></td>
   <td align="right">54kB</td>
   <td><tt>66d8aab85e24897e58ddcf2333e471cac7def8b1f26668fe2263fb4c80116f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-nm-5.17.3.tar.xz">plasma-nm-5.17.3</a></td>
   <td align="right">791kB</td>
   <td><tt>9351a5aa11068b2f9e13a0cc349afff5d44bc8d8dc8d9b2c54129dee67af176f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-pa-5.17.3.tar.xz">plasma-pa-5.17.3</a></td>
   <td align="right">101kB</td>
   <td><tt>338a91dcd8950b8b4c16cd5094855ac575327ee38bcc6eaea15fe44f1ddb50fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-sdk-5.17.3.tar.xz">plasma-sdk-5.17.3</a></td>
   <td align="right">252kB</td>
   <td><tt>8d2ce9c6120d2c194000c665489771bd71aea6188d78abfec855dabe125f2c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-tests-5.17.3.tar.xz">plasma-tests-5.17.3</a></td>
   <td align="right">1kB</td>
   <td><tt>a61ca6138584cc740a732eb65d47b0690862a969d690a3aa00cb730e459e8ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-thunderbolt-5.17.3.tar.xz">plasma-thunderbolt-5.17.3</a></td>
   <td align="right">45kB</td>
   <td><tt>ed6149e314048226668f1332252a00eb44a85bdd889b08a5c43073097d785774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-vault-5.17.3.tar.xz">plasma-vault-5.17.3</a></td>
   <td align="right">126kB</td>
   <td><tt>fcb5fb7f31653aafe0f7d5fe56947cd20b6bfea3a85e973dceeaf93c83459d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-workspace-5.17.3.tar.xz">plasma-workspace-5.17.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>d346271f5b55ead66b02da389aea9e0f5842c01faa5a33d03946d83b083da888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plasma-workspace-wallpapers-5.17.3.tar.xz">plasma-workspace-wallpapers-5.17.3</a></td>
   <td align="right">32MB</td>
   <td><tt>44d0f93a09db2703d526903b6da1330c6290645022bf72352bde08f61a1339ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/plymouth-kcm-5.17.3.tar.xz">plymouth-kcm-5.17.3</a></td>
   <td align="right">38kB</td>
   <td><tt>69cdb501d54c3d3ce6ea0ab5fd4e9db30cb262ce21e4a23b23718a511a3e4b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/polkit-kde-agent-1-5.17.3.tar.xz">polkit-kde-agent-1-5.17.3</a></td>
   <td align="right">42kB</td>
   <td><tt>d2e96d12854e181c120e38ac991f39594aeb7c3c55e5bf38738473f2c5e4633f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/powerdevil-5.17.3.tar.xz">powerdevil-5.17.3</a></td>
   <td align="right">580kB</td>
   <td><tt>7ee1d5ed16ab3cc66268d17175c237a8e9a4cf5f1869f8a99d12379ae764d0ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/sddm-kcm-5.17.3.tar.xz">sddm-kcm-5.17.3</a></td>
   <td align="right">57kB</td>
   <td><tt>046b24116ced4e11e85523021fc6b3bfbe6c97f03e30cc747cd66d3a717355f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/systemsettings-5.17.3.tar.xz">systemsettings-5.17.3</a></td>
   <td align="right">168kB</td>
   <td><tt>df28ef37abc904155ddd2895e014f3a98e6ea8571c3b07ca5d4e605f0490ca94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/user-manager-5.17.3.tar.xz">user-manager-5.17.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c226ce0648d8a11a1ee10a89fafee131770096fd7d977fbacd37d0ac621c614f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.3/xdg-desktop-portal-kde-5.17.3.tar.xz">xdg-desktop-portal-kde-5.17.3</a></td>
   <td align="right">61kB</td>
   <td><tt>4a6ad77a9b8b7f2dc8d8a24326d5ea1c6b26ab83df520660c48c02f9142ffb32</tt></td>
</tr>

</table>
