<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/bluedevil-5.12.2.tar.xz">bluedevil-5.12.2</a></td>
   <td align="right">146kB</td>
   <td><tt>f2b62d9844e0077929256cd096e628f69b4b7790d312f9d86fb04fc7b8f2bc87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/breeze-5.12.2.tar.xz">breeze-5.12.2</a></td>
   <td align="right">21MB</td>
   <td><tt>1a006668572618956f0a2759ddabb0abcf6cd2fbd07e76b8369e9a4a221fa0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/breeze-grub-5.12.2.tar.xz">breeze-grub-5.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b897742f1348f211d74d71e16fdb46adcac37a742459704d6328b495edeae6a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/breeze-gtk-5.12.2.tar.xz">breeze-gtk-5.12.2</a></td>
   <td align="right">208kB</td>
   <td><tt>80278b91fc790152b1d1355701cd438d411e5a6424cda0c82aae65881fca21a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/breeze-plymouth-5.12.2.tar.xz">breeze-plymouth-5.12.2</a></td>
   <td align="right">103kB</td>
   <td><tt>9b0dfbd27631126fcb36ba5ffea49a93fe24e45e702b9ef884702a49b58f26d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/discover-5.12.2.tar.xz">discover-5.12.2</a></td>
   <td align="right">9.7MB</td>
   <td><tt>3b944591ba9686512b7854c29012cbd13c485a3246235608342cf0ecad556bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/drkonqi-5.12.2.tar.xz">drkonqi-5.12.2</a></td>
   <td align="right">721kB</td>
   <td><tt>157351cf5ff06e87ccbc8360f319133abde25a23d75d668ee08f810b67578937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kactivitymanagerd-5.12.2.tar.xz">kactivitymanagerd-5.12.2</a></td>
   <td align="right">82kB</td>
   <td><tt>04ed1efefd91019debf31fa02f905bae9647fe55171bf9bb74e2084f12c8cad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kde-cli-tools-5.12.2.tar.xz">kde-cli-tools-5.12.2</a></td>
   <td align="right">559kB</td>
   <td><tt>6c1bf83cd6d6e0463ad9f92d1521e383a1bdfa5ab2019b4acffa121113c9a7c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kdecoration-5.12.2.tar.xz">kdecoration-5.12.2</a></td>
   <td align="right">34kB</td>
   <td><tt>e9e81b27d89d040ade2ffdb7612d7d6e6a8c23de7082e3561d9c5ad0a87b16f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kde-gtk-config-5.12.2.tar.xz">kde-gtk-config-5.12.2</a></td>
   <td align="right">153kB</td>
   <td><tt>a4f6ea7656c358304d6fed1892476ee2540ab0bc2d8a69895c4865588c919ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kdeplasma-addons-5.12.2.tar.xz">kdeplasma-addons-5.12.2</a></td>
   <td align="right">552kB</td>
   <td><tt>533c0c913fded64d1ca20ee0aa6aa2f1883a78a33dfde27181ee1c2e5193a003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kgamma5-5.12.2.tar.xz">kgamma5-5.12.2</a></td>
   <td align="right">59kB</td>
   <td><tt>5af6295fb3fa43a802bd737f06f2159e8c379f2260c8bd3022aea402784316f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/khotkeys-5.12.2.tar.xz">khotkeys-5.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3e073648f1d1e01e437e2da3bc7e424ceee90daa70d36a7b93c0ed63ba5656c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kinfocenter-5.12.2.tar.xz">kinfocenter-5.12.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>114b66b938c53aacffe88eacc8105c044861697d7f52bafb0fdb92d4c5f14f69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kmenuedit-5.12.2.tar.xz">kmenuedit-5.12.2</a></td>
   <td align="right">636kB</td>
   <td><tt>7b46c301767159cf53b29c9718441c10d1285f3ba39cf606c4a6bd9f74d8fcf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kscreen-5.12.2.tar.xz">kscreen-5.12.2</a></td>
   <td align="right">115kB</td>
   <td><tt>3bd18992cb98bf26b6bdf03cfdd6db459cfef50e879eea7e94d73b629b5795e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kscreenlocker-5.12.2.tar.xz">kscreenlocker-5.12.2</a></td>
   <td align="right">115kB</td>
   <td><tt>f601ba83966ebfc0f0a8f36fc630c98e6b85861481c7c05b08077755a7f4186d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/ksshaskpass-5.12.2.tar.xz">ksshaskpass-5.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>357c91f1eb00091ba6ffc3f64a91ede072dafefedb976dcc7c8ab051db92e0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/ksysguard-5.12.2.tar.xz">ksysguard-5.12.2</a></td>
   <td align="right">475kB</td>
   <td><tt>e7d2d1b4bba99af3b99fe200b01d8e1c9e08989746a821e3672fa2ba178e1f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kwallet-pam-5.12.2.tar.xz">kwallet-pam-5.12.2</a></td>
   <td align="right">18kB</td>
   <td><tt>2dd39b8e6d058f2d39bdb0bf81f823c43e60a91b319ce4e47d1e38ab620ce075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kwayland-integration-5.12.2.tar.xz">kwayland-integration-5.12.2</a></td>
   <td align="right">18kB</td>
   <td><tt>d6a650cc89f1ac92aec36f666149d0593972b5fb258d342bbd561c8db66e9be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kwin-5.12.2.tar.xz">kwin-5.12.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>7c92745d7c8b36cac596ba1913b3c672034e830f82b85ccf5f52762deb8cde52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/kwrited-5.12.2.tar.xz">kwrited-5.12.2</a></td>
   <td align="right">19kB</td>
   <td><tt>642f5578e13b0d9931bae063c812806f2ea64ab92ef686d37dec4101457a40d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/libkscreen-5.12.2.tar.xz">libkscreen-5.12.2</a></td>
   <td align="right">92kB</td>
   <td><tt>a023a5bffe704777d4ccdd795cca453191f057d9572dc10e89a19ec4144061c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/libksysguard-5.12.2.tar.xz">libksysguard-5.12.2</a></td>
   <td align="right">557kB</td>
   <td><tt>29bc383652e0d195f181cc7c166c177a338381fd5dd9b9c0430ea1cee921c8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/milou-5.12.2.tar.xz">milou-5.12.2</a></td>
   <td align="right">56kB</td>
   <td><tt>88b1ed0e229c243049a5934a42d5cafbdd3f2ca557534b86869a8086c3992cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/oxygen-5.12.2.tar.xz">oxygen-5.12.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>be7e36e05577c514033c379b4f8d5f081e4dfd76903c50737e2d1a5b26bfe00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-desktop-5.12.2.tar.xz">plasma-desktop-5.12.2</a></td>
   <td align="right">8.0MB</td>
   <td><tt>e5118e93b1b01c1acbab3b4c274c2d36f472759c9fd877308ca3efcfc384d573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-integration-5.12.2.tar.xz">plasma-integration-5.12.2</a></td>
   <td align="right">52kB</td>
   <td><tt>084c832b21b0ec411e9701c45c2eb557fa1a323d17db2267e27335b943b1dd43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-nm-5.12.2.tar.xz">plasma-nm-5.12.2</a></td>
   <td align="right">688kB</td>
   <td><tt>7d90da1762199feafb412945cb87a244c6a09b062546b81d65d52eb630079772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-pa-5.12.2.tar.xz">plasma-pa-5.12.2</a></td>
   <td align="right">84kB</td>
   <td><tt>c7d245e9f65b1c2f56b138f184d2fc7c138cf690fc5cf77b8530e68cfa632f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-sdk-5.12.2.tar.xz">plasma-sdk-5.12.2</a></td>
   <td align="right">244kB</td>
   <td><tt>5b3340ba857aad361bac708c8c8258e6e6adf31537066ed44654b1995138432b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-tests-5.12.2.tar.xz">plasma-tests-5.12.2</a></td>
   <td align="right">1kB</td>
   <td><tt>80c066ec33e0234c895612b4abac8bb03f876e4be19bde4a7c2bc373849c668c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-vault-5.12.2.tar.xz">plasma-vault-5.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>f3aa2a9901ad198d8850b6891e74b684f29ba6ab5fd40eba0240039069576dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-workspace-5.12.2.tar.xz">plasma-workspace-5.12.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>2d7e45761730c7eecbb91a6951c9ae3a4d08dc0a5a80fec640cc1cbfe2569dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plasma-workspace-wallpapers-5.12.2.tar.xz">plasma-workspace-wallpapers-5.12.2</a></td>
   <td align="right">43MB</td>
   <td><tt>279ec9b4e6b7372ed0d70dadc7a0f9dcf1045bfadf11fb0edbc1907c1988d8f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/plymouth-kcm-5.12.2.tar.xz">plymouth-kcm-5.12.2</a></td>
   <td align="right">38kB</td>
   <td><tt>8bb956758d4f25b762c8a686db1ff239c87c044b35655dd50cf234cd56be6a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/polkit-kde-agent-1-5.12.2.tar.xz">polkit-kde-agent-1-5.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>a936006df397637640e0a3c5ceb1ad70d9820917a51360640c8ee404355adc9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/powerdevil-5.12.2.tar.xz">powerdevil-5.12.2</a></td>
   <td align="right">371kB</td>
   <td><tt>bcdf7662bb9c45fc213744cea323cdd9676bc4a485d660a958046505aa1c352d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/sddm-kcm-5.12.2.tar.xz">sddm-kcm-5.12.2</a></td>
   <td align="right">58kB</td>
   <td><tt>c3abd1aa71f1d7c544b493bc855a5e612272f5c4cc7ddca6817f108be39e085a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/systemsettings-5.12.2.tar.xz">systemsettings-5.12.2</a></td>
   <td align="right">167kB</td>
   <td><tt>965cab685c5c37fcbe295743fff4b4f0e7c7757cfac41bcd2bf15b769bef8e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/user-manager-5.12.2.tar.xz">user-manager-5.12.2</a></td>
   <td align="right">531kB</td>
   <td><tt>8a3788b611368458a2342196d9aa10d5f002b01b46b8221ea4e123edbad6eb10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.2/xdg-desktop-portal-kde-5.12.2.tar.xz">xdg-desktop-portal-kde-5.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>f50256bbccb7eb31e94c56041ef96c0d1c16e2cfc68ecdce168cc580c43d20bf</tt></td>
</tr>

</table>
