<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/baloo-5.1.0.1.tar.xz">baloo-5.1.0.1</a></td>
   <td align="right">225kB</td>
   <td><tt>0217f2c77b367587b7bfc3e17efe0838c553b9ec13aa025d6c0e963f56cc3537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/breeze-5.1.0.1.tar.xz">breeze-5.1.0.1</a></td>
   <td align="right">16MB</td>
   <td><tt>65391287569df1ab060f31ef483775a6095194362172e0c3b5e533b4bcae5402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kde-cli-tools-5.1.0.1.tar.xz">kde-cli-tools-5.1.0.1</a></td>
   <td align="right">455kB</td>
   <td><tt>5301e1482fcc0c063a0461dbcb868bf3e33f213446f1b072fef5dc0e2067e1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kdeplasma-addons-5.1.0.1.tar.xz">kdeplasma-addons-5.1.0.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>85ec7cfd0e04b7a810b7d9aa3ff1404a6383506b28480a05567dd6d28de75172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kfilemetadata-5.1.0.1.tar.xz">kfilemetadata-5.1.0.1</a></td>
   <td align="right">84kB</td>
   <td><tt>926cfa38c4920e97c054b8308ca4050d03cb6d931058c94a57aeed841bb003f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/khelpcenter-5.1.0.1.tar.xz">khelpcenter-5.1.0.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>12ccbe2c8d58f69f1fcd77bb1427f9f325734cb20c1731329dc1872722e2a869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/khotkeys-5.1.0.1.tar.xz">khotkeys-5.1.0.1</a></td>
   <td align="right">725kB</td>
   <td><tt>006a5a10b0409cf53d820cd8bcab0777227da60182416db10b7acc3713a37cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kinfocenter-5.1.0.1.tar.xz">kinfocenter-5.1.0.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>766e87ae9483bbb191d2b29c186f2f855527a4dd0703861c9bb8cd0c957c5c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kio-extras-5.1.0.1.tar.xz">kio-extras-5.1.0.1</a></td>
   <td align="right">469kB</td>
   <td><tt>05a46da5edc5cd3d63db4c52229aa38b99445c570fb2174f1424e1d42d9bbc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kmenuedit-5.1.0.1.tar.xz">kmenuedit-5.1.0.1</a></td>
   <td align="right">333kB</td>
   <td><tt>6d1a8842e811307610cb5d848c8f9b7ffcae3999b5c4ea03bed2d941ec6d279e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/ksysguard-5.1.0.1.tar.xz">ksysguard-5.1.0.1</a></td>
   <td align="right">429kB</td>
   <td><tt>da8296a1547e69987deba405c7acdbeaabb527346eb9e2f2a0423c1195592e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kwayland-5.1.0.1.tar.xz">kwayland-5.1.0.1</a></td>
   <td align="right">58kB</td>
   <td><tt>942afe608a2d33b3dbd280ba2550df3bd79eb8d57a935b69292e1cad63c99b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kwin-5.1.0.1.tar.xz">kwin-5.1.0.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>0693edd2e1012c0a6fc58123158de1afd9c16e209093c60047b1fa036cac2f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/kwrited-5.1.0.1.tar.xz">kwrited-5.1.0.1</a></td>
   <td align="right">18kB</td>
   <td><tt>ecfbd5418b8e144657abf50526a73af6d3c135b4b6c6b3a6f1faa8ae4eab1692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/libkscreen-5.1.0.1.tar.xz">libkscreen-5.1.0.1</a></td>
   <td align="right">59kB</td>
   <td><tt>6376e3fa5e4c6a71216d5d6d08a562098ea769ce16d6a1f36d17524612a11ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/libksysguard-5.1.0.1.tar.xz">libksysguard-5.1.0.1</a></td>
   <td align="right">531kB</td>
   <td><tt>7a35a38d57a726e4c1b3008a892939e29ed85273cb439ab5301c82b27b3b6dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/libmm-qt-5.1.0.1.tar.xz">libmm-qt-5.1.0.1</a></td>
   <td align="right">74kB</td>
   <td><tt>82424dfa31df9e26b938db899ad589adc05082adf8db958917126126ee2ebacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/libnm-qt-5.1.0.1.tar.xz">libnm-qt-5.1.0.1</a></td>
   <td align="right">138kB</td>
   <td><tt>cd2e9e990a053c91f06a9cea3d152f0ab6efc1d37963426d24c9655b9e445bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/milou-5.1.0.1.tar.xz">milou-5.1.0.1</a></td>
   <td align="right">47kB</td>
   <td><tt>a4fa4079d285d5c7b9ee71be2f15fbaf7f7e0be8ff46876d77397527116e9878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/oxygen-5.1.0.1.tar.xz">oxygen-5.1.0.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>feb5cab819f8a9570f0b0e97b490e24ea3d8aaa13f6ca5180b7387cb774d8acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/oxygen-fonts-5.1.0.1.tar.xz">oxygen-fonts-5.1.0.1</a></td>
   <td align="right">157kB</td>
   <td><tt>16741e6c1e931b0af9cb130a823e1d3afefbe395e983ba479d2e379b0702c92a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/plasma-desktop-5.1.0.1.tar.xz">plasma-desktop-5.1.0.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>59c1fb988affd8d74a461bf5ba3097d6b0f1e35b90d14efa9287812816281d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/plasma-nm-5.1.0.1.tar.xz">plasma-nm-5.1.0.1</a></td>
   <td align="right">474kB</td>
   <td><tt>650231332f0df6f51b42e4cdddcdc8f456f61617d7305c4167a33e24145ef1ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/plasma-workspace-5.1.0.1.tar.xz">plasma-workspace-5.1.0.1</a></td>
   <td align="right">6.1MB</td>
   <td><tt>ef5fc104570006a3263a51f721ac102268009e6fdef349314dc76bfcb6860e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/plasma-workspace-wallpapers-5.1.0.1.tar.xz">plasma-workspace-wallpapers-5.1.0.1</a></td>
   <td align="right">27MB</td>
   <td><tt>01c049ddb436df6352cdc130d9b6369fe9ab8a28629912a99ec12df3f175e4bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/powerdevil-5.1.0.1.tar.xz">powerdevil-5.1.0.1</a></td>
   <td align="right">408kB</td>
   <td><tt>e09aab3ea0fed881109cf5d70a5390db0b3d3a6cccdfeacf945b23a287b7b2fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.1.0/systemsettings-5.1.0.1.tar.xz">systemsettings-5.1.0.1</a></td>
   <td align="right">132kB</td>
   <td><tt>9320d25d1509f645c07d5e45dbf00795e39f7daa7f3110aadf0bf606b8f88e7d</tt></td>
</tr>

</table>
