
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.67/kirigami2-5.67.1.tar.xz">kirigami2-5.67.1</a></td>
   <td align="right">156kB</td>
   <td><tt>f828932408891e8963a83423bf563d5bbbfbab77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.67/qqc2-desktop-style-5.67.1.tar.xz">qqc2-desktop-style-5.67.1</a></td>
   <td align="right">45kB</td>
   <td><tt>c8635f8ae36d16157cdde965d75706a1ce310054</tt></td>
</tr>

</table>
