<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/aura-browser-5.25.90.tar.xz">aura-browser-5.25.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b8087e9c196b8970688495e80d6bac5ff959d1f33a6d29bacfb331f8c4351041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/bluedevil-5.25.90.tar.xz">bluedevil-5.25.90</a></td>
   <td align="right">305kB</td>
   <td><tt>ceaab3d87ef5689d7640f90308590f7d0353399a0ecfee10c4bf43af7d22ca02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/breeze-5.25.90.tar.xz">breeze-5.25.90</a></td>
   <td align="right">33MB</td>
   <td><tt>91cbf3617e9fe147e4619c56fae6a2e2047c35cca4228651d6af8c20f1b37eba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/breeze-grub-5.25.90.tar.xz">breeze-grub-5.25.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>dfbe16bb5fc70fafa51319887f5eea6bb2d8868835426a7109164a8551f36adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/breeze-gtk-5.25.90.tar.xz">breeze-gtk-5.25.90</a></td>
   <td align="right">39kB</td>
   <td><tt>4704237e642a6ff19a6c71559c82785f3fd050fcbd713e4a5e6176d751e3f0ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/breeze-plymouth-5.25.90.tar.xz">breeze-plymouth-5.25.90</a></td>
   <td align="right">108kB</td>
   <td><tt>6ceeb59bf244943ca93d1afebfa83ffe60888f71aab4445c27303a0407ba7209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/discover-5.25.90.tar.xz">discover-5.25.90</a></td>
   <td align="right">635kB</td>
   <td><tt>52d2867112cb859803075ec91e4db858b8af782a83c7a02308fb4554e7fe3526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/drkonqi-5.25.90.tar.xz">drkonqi-5.25.90</a></td>
   <td align="right">493kB</td>
   <td><tt>a39217a4a40621913b0ce4b98c66eafb5383b2f38f9c197e2b1b3b2db3ead878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kactivitymanagerd-5.25.90.tar.xz">kactivitymanagerd-5.25.90</a></td>
   <td align="right">106kB</td>
   <td><tt>fdad958d8e5bb5699b8ccc115fa2bee23ab0de9f371be7a6a151e8df276845f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kde-cli-tools-5.25.90.tar.xz">kde-cli-tools-5.25.90</a></td>
   <td align="right">615kB</td>
   <td><tt>db016d35f274ec8b2af1cf5c4e64e57a69520ff6705113987ce5dfe0cdea3bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kdecoration-5.25.90.tar.xz">kdecoration-5.25.90</a></td>
   <td align="right">50kB</td>
   <td><tt>bbceb6236a86461293f5b2ab5d8af9263e4b2a24dd13b6a6803807b7bfe03b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kde-gtk-config-5.25.90.tar.xz">kde-gtk-config-5.25.90</a></td>
   <td align="right">72kB</td>
   <td><tt>83fff4b2fb966beeeb20c3f4cb27855dec73f4043c0abf4dd089d5f2f4ba9802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kdeplasma-addons-5.25.90.tar.xz">kdeplasma-addons-5.25.90</a></td>
   <td align="right">659kB</td>
   <td><tt>50b7acee8f37c6551245b82b6ad152c55bd6cf1a77691cafa7a6aaa2d35b8051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kgamma5-5.25.90.tar.xz">kgamma5-5.25.90</a></td>
   <td align="right">84kB</td>
   <td><tt>ad330819d7171bc0440254d3149bd5d78c1a68d4cdcd9005bd8ec8fed8faf485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/khotkeys-5.25.90.tar.xz">khotkeys-5.25.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>55ed089ce3feeb518bbf25be32531ed71410599e11461fd993b63c34ac56a04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kinfocenter-5.25.90.tar.xz">kinfocenter-5.25.90</a></td>
   <td align="right">711kB</td>
   <td><tt>1ba73dd3ce667e62a2a2b5917515b10b6a410969da01da02060f6d2827f8d8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kmenuedit-5.25.90.tar.xz">kmenuedit-5.25.90</a></td>
   <td align="right">883kB</td>
   <td><tt>e3fe539610501807e1d0225c4ae11f0253f05bf38f01a4d11100156576b5506f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kpipewire-5.25.90.tar.xz">kpipewire-5.25.90</a></td>
   <td align="right">51kB</td>
   <td><tt>aa7f9f7618bf49281a1881c792edd3666277b732d5ff29b265e43e753662653c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kscreen-5.25.90.tar.xz">kscreen-5.25.90</a></td>
   <td align="right">148kB</td>
   <td><tt>a3e081bd92d63e2fdc8b319f2347778beffee458a79dc57e8c81a3bf8e8286a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kscreenlocker-5.25.90.tar.xz">kscreenlocker-5.25.90</a></td>
   <td align="right">111kB</td>
   <td><tt>5b02c52deb22cb10b73c7f0ce7f57bf36d9d6afdd23b17a2171d6a7e719fc95c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/ksshaskpass-5.25.90.tar.xz">ksshaskpass-5.25.90</a></td>
   <td align="right">26kB</td>
   <td><tt>3f15e88567068dc12884add2b58685ca00242d33d3871600eeddcb4f98c6efb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/ksystemstats-5.25.90.tar.xz">ksystemstats-5.25.90</a></td>
   <td align="right">102kB</td>
   <td><tt>031e6378c7b7fed31a49f2f6a8c083fd44c16078fb5627b5f79cde43128c635c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kwallet-pam-5.25.90.tar.xz">kwallet-pam-5.25.90</a></td>
   <td align="right">22kB</td>
   <td><tt>a9446ff8d0d8b26755e23790ec1af6b8ddbdde7a31878d009191d74e50396d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kwayland-integration-5.25.90.tar.xz">kwayland-integration-5.25.90</a></td>
   <td align="right">26kB</td>
   <td><tt>56d749b88c37163c95d4152f1f7f86392db01223e9c17879203f179ffb2eff2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kwin-5.25.90.tar.xz">kwin-5.25.90</a></td>
   <td align="right">6.3MB</td>
   <td><tt>99b4c5588442d68a64beb42418bd831392d347a6a4580677ff86da0fc58c0e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/kwrited-5.25.90.tar.xz">kwrited-5.25.90</a></td>
   <td align="right">22kB</td>
   <td><tt>8e21b05efffa497d36cee1898fcd02ce60997321df300a94b35e0d5d850da5f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/layer-shell-qt-5.25.90.tar.xz">layer-shell-qt-5.25.90</a></td>
   <td align="right">17kB</td>
   <td><tt>83c0afbbcd11a8e41a53273cabb6203e4806e67293b12925103d9406f198cb96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/libkscreen-5.25.90.tar.xz">libkscreen-5.25.90</a></td>
   <td align="right">99kB</td>
   <td><tt>b0e136cc88349ef97d2a6c40dacfe1b881cf07473525755608fd0368fcddd7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/libksysguard-5.25.90.tar.xz">libksysguard-5.25.90</a></td>
   <td align="right">777kB</td>
   <td><tt>b14ec303bf6fcfd4eec0e3d337a908a17a13698619a7264022bda5c63e57fa1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/milou-5.25.90.tar.xz">milou-5.25.90</a></td>
   <td align="right">49kB</td>
   <td><tt>fd9b1dce17abcc97a7ec84d1c7d8c89a313858e17b4a99454ed9ca3491620d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/oxygen-5.25.90.tar.xz">oxygen-5.25.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8f03ced21335b64283d20ac423186a5504ffc8f15592161ad663ae1c1ba703e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/oxygen-sounds-5.25.90.tar.xz">oxygen-sounds-5.25.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7a3799f108b5baa0a3bb4026715270e8a0145ab0ffdda3a01a2e5cfe97fe923e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plank-player-5.25.90.tar.xz">plank-player-5.25.90</a></td>
   <td align="right">151kB</td>
   <td><tt>a78de2b7f09b00120cc6c542390daa0a4166e0bb1ffccf576b87f5554d5c2223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-bigscreen-5.25.90.tar.xz">plasma-bigscreen-5.25.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>baa910a994f6fe7a53d0acbb82d931cc9cf201cbdd22e542fa026ef721928590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-browser-integration-5.25.90.tar.xz">plasma-browser-integration-5.25.90</a></td>
   <td align="right">230kB</td>
   <td><tt>b04832fac852b9cf59262813bb3c86c22701e3a0a976d328184739826714540a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-desktop-5.25.90.tar.xz">plasma-desktop-5.25.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>53fdf81bf2c4cde5f615b7bc6d4f92150ac8a74dcde2cecce71a450f4969e8da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-disks-5.25.90.tar.xz">plasma-disks-5.25.90</a></td>
   <td align="right">89kB</td>
   <td><tt>feea8746cafbd5458769c6fcf5f338173cadf1663377483fffaa0455c83f1f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-firewall-5.25.90.tar.xz">plasma-firewall-5.25.90</a></td>
   <td align="right">349kB</td>
   <td><tt>7179c0743da556733d91e61aa6f78850918135745bc33626173fdd89829ab72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-integration-5.25.90.tar.xz">plasma-integration-5.25.90</a></td>
   <td align="right">86kB</td>
   <td><tt>577a781f36a56cf61b93a1fa3d9c42e7a771cfcd192a8bf0b60dd479e7f60e12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-mobile-5.25.90.tar.xz">plasma-mobile-5.25.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>d0b61c9dd99ed66d4f3e17007644205644f4d102d4d66ed88eddf51499043e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-nano-5.25.90.tar.xz">plasma-nano-5.25.90</a></td>
   <td align="right">70kB</td>
   <td><tt>7d6895d42d5954bd9be25a529c2ffac27e7f83fd2a2d7a2a4322a8aa23af2a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-nm-5.25.90.tar.xz">plasma-nm-5.25.90</a></td>
   <td align="right">946kB</td>
   <td><tt>e3869b94084fc7aa86c5991f178be55b96a2c6269f3ace91dfa910369b05432a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-pa-5.25.90.tar.xz">plasma-pa-5.25.90</a></td>
   <td align="right">137kB</td>
   <td><tt>d9af9b3e64757dc21a29b5fc0059cb199f7bd3b172bdc145c1638ae0533c835e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-remotecontrollers-5.25.90.tar.xz">plasma-remotecontrollers-5.25.90</a></td>
   <td align="right">66kB</td>
   <td><tt>c716005226bca78752eadb5e7f483409f776c118b5576b5dba46153f00f7feaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-sdk-5.25.90.tar.xz">plasma-sdk-5.25.90</a></td>
   <td align="right">263kB</td>
   <td><tt>6f28c4a0f66c010ebecdcfa075687278d4e072413e674fc3f32cda9fab45eb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-systemmonitor-5.25.90.tar.xz">plasma-systemmonitor-5.25.90</a></td>
   <td align="right">161kB</td>
   <td><tt>27002d645f0b93f2419399a344d5fcbbef111f261fd609aa4f194ec9e68e34ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-tests-5.25.90.tar.xz">plasma-tests-5.25.90</a></td>
   <td align="right">1kB</td>
   <td><tt>de7f278f7eaa72b7a674082d83938dd04839fb637934d4eb839cbb4d68223989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-thunderbolt-5.25.90.tar.xz">plasma-thunderbolt-5.25.90</a></td>
   <td align="right">69kB</td>
   <td><tt>93a9edd913a5e2790171982ef36c341b6848bf252abfe4cb6dcfdfb4f10366fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-vault-5.25.90.tar.xz">plasma-vault-5.25.90</a></td>
   <td align="right">179kB</td>
   <td><tt>6dd85bda638ca44a74744ee05cbe708377f5acdfff32ce871da6a1f284a73ee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-workspace-5.25.90.tar.xz">plasma-workspace-5.25.90</a></td>
   <td align="right">17MB</td>
   <td><tt>28f8c6c999c55047638040cfbd5d7e23c722dc5b7d89e6de678cb599c876509d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plasma-workspace-wallpapers-5.25.90.tar.xz">plasma-workspace-wallpapers-5.25.90</a></td>
   <td align="right">67MB</td>
   <td><tt>9514fafeb36eebb70a2d1fbd2ea6d399e7b694bed959678572d6600c1f6f47e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/plymouth-kcm-5.25.90.tar.xz">plymouth-kcm-5.25.90</a></td>
   <td align="right">42kB</td>
   <td><tt>d7499043cc2fd6b56ee4f00caa12ce56d7ed2a6171e3874177b622c8e9958148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/polkit-kde-agent-1-5.25.90.tar.xz">polkit-kde-agent-1-5.25.90</a></td>
   <td align="right">47kB</td>
   <td><tt>5e65a6b47ff77ebfa8c4e5012dd607799d71e920c4ded60b26bb363c60f941f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/powerdevil-5.25.90.tar.xz">powerdevil-5.25.90</a></td>
   <td align="right">626kB</td>
   <td><tt>3e34f5650fcff7f291365fcbf539993e8f5bab04dff33b2e51f825a16982f0be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/qqc2-breeze-style-5.25.90.tar.xz">qqc2-breeze-style-5.25.90</a></td>
   <td align="right">64kB</td>
   <td><tt>39820ec6c89c80c4e0972bc99108b28369aa5ca524589a55eecb5963651104d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/sddm-kcm-5.25.90.tar.xz">sddm-kcm-5.25.90</a></td>
   <td align="right">80kB</td>
   <td><tt>f18ea6c7a34df55e95a0e2b9b45805fab0305da8635b448705573eed4557b893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/systemsettings-5.25.90.tar.xz">systemsettings-5.25.90</a></td>
   <td align="right">200kB</td>
   <td><tt>71232c70f7850953637c8faf478f8d44f9bf526dd034f2112c1c57f528f66a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.25.90/xdg-desktop-portal-kde-5.25.90.tar.xz">xdg-desktop-portal-kde-5.25.90</a></td>
   <td align="right">106kB</td>
   <td><tt>3c3c8a1e7e7f8f3ce29abb74580c385e490772266f94d5cb148f467317382035</tt></td>
</tr>

</table>
