<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-21.11.90.tar.xz">akonadi-21.11.90</a></td>
   <td align="right">1573kB</td>
   <td><tt>d7b11ae058e1be5a002dbadfe6390cacf1fe719f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-calendar-21.11.90.tar.xz">akonadi-calendar-21.11.90</a></td>
   <td align="right">344kB</td>
   <td><tt>ca5bf6a5a90ef0cf8e3d5ccf11bda88241dba558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-calendar-tools-21.11.90.tar.xz">akonadi-calendar-tools-21.11.90</a></td>
   <td align="right">231kB</td>
   <td><tt>6f1310643ce71a937126e331a3803417aff130d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadiconsole-21.11.90.tar.xz">akonadiconsole-21.11.90</a></td>
   <td align="right">196kB</td>
   <td><tt>8a3752e259b08c77c17230968ab24cb6bd802956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-contacts-21.11.90.tar.xz">akonadi-contacts-21.11.90</a></td>
   <td align="right">416kB</td>
   <td><tt>a0c453d59e8f5fb2e8bb283fe10bda21d4e5a792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-import-wizard-21.11.90.tar.xz">akonadi-import-wizard-21.11.90</a></td>
   <td align="right">499kB</td>
   <td><tt>af6085af49e14624730545fecf99c57744b25572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-mime-21.11.90.tar.xz">akonadi-mime-21.11.90</a></td>
   <td align="right">139kB</td>
   <td><tt>c851f7b50c825bb162d92945cd03d8f82edc6e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-notes-21.11.90.tar.xz">akonadi-notes-21.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>135ada83953e944db3eb1c6829ca86aebdc52ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akonadi-search-21.11.90.tar.xz">akonadi-search-21.11.90</a></td>
   <td align="right">95kB</td>
   <td><tt>f70a8e5127843d1e9de6fb605437533c4d8e1dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/akregator-21.11.90.tar.xz">akregator-21.11.90</a></td>
   <td align="right">2199kB</td>
   <td><tt>f9c05a46386dea59c1c0375e4d98edb91b279e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/analitza-21.11.90.tar.xz">analitza-21.11.90</a></td>
   <td align="right">339kB</td>
   <td><tt>2a2bebbff588b9c502e14b1ccab36b3c7b79afd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ark-21.11.90.tar.xz">ark-21.11.90</a></td>
   <td align="right">2706kB</td>
   <td><tt>c9d4efb262a8d0d994fac591b00b22b1b5f21f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/artikulate-21.11.90.tar.xz">artikulate-21.11.90</a></td>
   <td align="right">1065kB</td>
   <td><tt>f759d317fbc42359e2b52d24d848b083b2e9dd4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/audiocd-kio-21.11.90.tar.xz">audiocd-kio-21.11.90</a></td>
   <td align="right">510kB</td>
   <td><tt>594e6086880d54c2501a87dd7a0deecc42d03907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/baloo-widgets-21.11.90.tar.xz">baloo-widgets-21.11.90</a></td>
   <td align="right">256kB</td>
   <td><tt>37bbc2353425d8f00bde310c618b4cec2b1d48de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/blinken-21.11.90.tar.xz">blinken-21.11.90</a></td>
   <td align="right">2650kB</td>
   <td><tt>1cf23c02bbb57128d2a4c49432b7be7e73120e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/bomber-21.11.90.tar.xz">bomber-21.11.90</a></td>
   <td align="right">811kB</td>
   <td><tt>41326beadd56fd7444949410160a3dfeb5948615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/bovo-21.11.90.tar.xz">bovo-21.11.90</a></td>
   <td align="right">204kB</td>
   <td><tt>a3598e7c6b0fe50b32787f87317b7067b10de715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/calendarsupport-21.11.90.tar.xz">calendarsupport-21.11.90</a></td>
   <td align="right">747kB</td>
   <td><tt>9085c3a4724edfe14e48033eeaaa2df6d2281aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/cantor-21.11.90.tar.xz">cantor-21.11.90</a></td>
   <td align="right">8969kB</td>
   <td><tt>2be30aebfd3a45c862603844535560057beb020e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/cervisia-21.11.90.tar.xz">cervisia-21.11.90</a></td>
   <td align="right">1867kB</td>
   <td><tt>341c19e0dd599badbcbdd30bbe5d24a8c7f02187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/dolphin-21.11.90.tar.xz">dolphin-21.11.90</a></td>
   <td align="right">5195kB</td>
   <td><tt>352eda606949c1406822abec6015cd92f9c9b2a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/dolphin-plugins-21.11.90.tar.xz">dolphin-plugins-21.11.90</a></td>
   <td align="right">248kB</td>
   <td><tt>97395eb0b9ad7de78f4da39af481e87692992e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/dragon-21.11.90.tar.xz">dragon-21.11.90</a></td>
   <td align="right">1626kB</td>
   <td><tt>72fd582f07ffd51e7fa5e4e6957013dabf261214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/elisa-21.11.90.tar.xz">elisa-21.11.90</a></td>
   <td align="right">1704kB</td>
   <td><tt>c28ad5ab1223302e1d7a019ae68010b098f99c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/eventviews-21.11.90.tar.xz">eventviews-21.11.90</a></td>
   <td align="right">444kB</td>
   <td><tt>f0e868f97ed4bc2c4b257d23cfc065d913297e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ffmpegthumbs-21.11.90.tar.xz">ffmpegthumbs-21.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>c275b39c4ea2f81e83db5bd3516fc4b0e8de1825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/filelight-21.11.90.tar.xz">filelight-21.11.90</a></td>
   <td align="right">668kB</td>
   <td><tt>74469a4f86bee5ecac4b4944bd8c400a5bbe03cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/granatier-21.11.90.tar.xz">granatier-21.11.90</a></td>
   <td align="right">2048kB</td>
   <td><tt>9d09e64b1dd535467d23bf76c6769721d68588f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/grantlee-editor-21.11.90.tar.xz">grantlee-editor-21.11.90</a></td>
   <td align="right">108kB</td>
   <td><tt>45a7e86d53f8fe2f760605935d8c53ce3bd82b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/grantleetheme-21.11.90.tar.xz">grantleetheme-21.11.90</a></td>
   <td align="right">58kB</td>
   <td><tt>610cb0732da495aa178a22fb1c4b8111066ca4ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/gwenview-21.11.90.tar.xz">gwenview-21.11.90</a></td>
   <td align="right">6632kB</td>
   <td><tt>e8b07b5b198caadd05e90d5d5e852355c96e9bfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/incidenceeditor-21.11.90.tar.xz">incidenceeditor-21.11.90</a></td>
   <td align="right">534kB</td>
   <td><tt>9997b371f8128657ff6286529b187d027c2ff87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/itinerary-21.11.90.tar.xz">itinerary-21.11.90</a></td>
   <td align="right">457kB</td>
   <td><tt>703511d921e20d2169281b5681f38f82a243587f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/juk-21.11.90.tar.xz">juk-21.11.90</a></td>
   <td align="right">1966kB</td>
   <td><tt>3cb7ff34735671a6e1668db2ba6eb9d8d19c8b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/k3b-21.11.90.tar.xz">k3b-21.11.90</a></td>
   <td align="right">10494kB</td>
   <td><tt>156a40242a185586532d074d9495188b4ed27bff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kaccounts-integration-21.11.90.tar.xz">kaccounts-integration-21.11.90</a></td>
   <td align="right">85kB</td>
   <td><tt>ebd7fbe4f4c430d974a271bafbdeb84ced175b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kaccounts-providers-21.11.90.tar.xz">kaccounts-providers-21.11.90</a></td>
   <td align="right">62kB</td>
   <td><tt>5609e61a75e86ff7f7cc5895a25d889480df9dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kaddressbook-21.11.90.tar.xz">kaddressbook-21.11.90</a></td>
   <td align="right">3247kB</td>
   <td><tt>3f971787a684f40691709155a7813f3afa135d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kajongg-21.11.90.tar.xz">kajongg-21.11.90</a></td>
   <td align="right">4453kB</td>
   <td><tt>1f4638eafbf9be2ffe4bcda9505a8f4f212fd4b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kalarm-21.11.90.tar.xz">kalarm-21.11.90</a></td>
   <td align="right">2109kB</td>
   <td><tt>d8786d3f018074488a771230391406d406d46e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kalarmcal-21.11.90.tar.xz">kalarmcal-21.11.90</a></td>
   <td align="right">615kB</td>
   <td><tt>ad04c4b7d1d2a7ce0447dbfc08bd5247b6c44218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kalgebra-21.11.90.tar.xz">kalgebra-21.11.90</a></td>
   <td align="right">1002kB</td>
   <td><tt>da5f69d0859c956b84265ef84a5784f8d7fb75f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kalzium-21.11.90.tar.xz">kalzium-21.11.90</a></td>
   <td align="right">24016kB</td>
   <td><tt>9845451f72f83791582a83421d0a7954d55a5a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kamera-21.11.90.tar.xz">kamera-21.11.90</a></td>
   <td align="right">114kB</td>
   <td><tt>334fefc311dedf905a7661a35d62f3c89a555fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kamoso-21.11.90.tar.xz">kamoso-21.11.90</a></td>
   <td align="right">209kB</td>
   <td><tt>120456169eedae2978478f109d2870a21e8f7193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kanagram-21.11.90.tar.xz">kanagram-21.11.90</a></td>
   <td align="right">7856kB</td>
   <td><tt>a6246d57569f7085187264bd7582d290e6612340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kapman-21.11.90.tar.xz">kapman-21.11.90</a></td>
   <td align="right">2413kB</td>
   <td><tt>9722b0e93f9b59d70f7bca28aef03c218c2dfdfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kapptemplate-21.11.90.tar.xz">kapptemplate-21.11.90</a></td>
   <td align="right">326kB</td>
   <td><tt>a18ab326b903c93838fa5588c6155002d2f62b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kate-21.11.90.tar.xz">kate-21.11.90</a></td>
   <td align="right">7204kB</td>
   <td><tt>9bc1d596bb069c6c5602faff3b6de17611ede83f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/katomic-21.11.90.tar.xz">katomic-21.11.90</a></td>
   <td align="right">1401kB</td>
   <td><tt>67547f2459efe53ff189e276dec26b97d3a4e1cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kbackup-21.11.90.tar.xz">kbackup-21.11.90</a></td>
   <td align="right">379kB</td>
   <td><tt>257f7ab76db75bc4de86dca20959dd2693432475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kblackbox-21.11.90.tar.xz">kblackbox-21.11.90</a></td>
   <td align="right">511kB</td>
   <td><tt>c016651d5b61420498a01bda96b1ce032b0c1b46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kblocks-21.11.90.tar.xz">kblocks-21.11.90</a></td>
   <td align="right">2051kB</td>
   <td><tt>728d8034048633d1f2339f5510acc7ddcf110e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kbounce-21.11.90.tar.xz">kbounce-21.11.90</a></td>
   <td align="right">3444kB</td>
   <td><tt>b3e88857af4ae97da08f556c83ad3e551980a379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kbreakout-21.11.90.tar.xz">kbreakout-21.11.90</a></td>
   <td align="right">2494kB</td>
   <td><tt>5621e0ceffd404d915f1292a7cfd3018a5b80dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kbruch-21.11.90.tar.xz">kbruch-21.11.90</a></td>
   <td align="right">5496kB</td>
   <td><tt>75440286f3d3f23d2b38073868ca2e4ec829716c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kcachegrind-21.11.90.tar.xz">kcachegrind-21.11.90</a></td>
   <td align="right">834kB</td>
   <td><tt>a424af0e7a4db4d39241f6a67b0345d768d331cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kcalc-21.11.90.tar.xz">kcalc-21.11.90</a></td>
   <td align="right">374kB</td>
   <td><tt>11d158fd40c7a4319a3dc6269a6a94c34f8c9c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kcalutils-21.11.90.tar.xz">kcalutils-21.11.90</a></td>
   <td align="right">331kB</td>
   <td><tt>9ee5ea8ecb1c538eadb4a93e0075b15cfb3e769d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kcharselect-21.11.90.tar.xz">kcharselect-21.11.90</a></td>
   <td align="right">364kB</td>
   <td><tt>701cf238aab840acad2628c674ce81de5b9e66b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kcolorchooser-21.11.90.tar.xz">kcolorchooser-21.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>97743624d3afc07997404e22ae8bbdec9d894637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kcron-21.11.90.tar.xz">kcron-21.11.90</a></td>
   <td align="right">893kB</td>
   <td><tt>1f9c67002323e3c9bbcafe416f2a1fed4f4bbae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdebugsettings-21.11.90.tar.xz">kdebugsettings-21.11.90</a></td>
   <td align="right">90kB</td>
   <td><tt>d0a49fafbdd12eeae46af637393021e7b1d137f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdeconnect-kde-21.11.90.tar.xz">kdeconnect-kde-21.11.90</a></td>
   <td align="right">594kB</td>
   <td><tt>7bd7f5adfdfdf9f3579deb7761c1653eb1587a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kde-dev-scripts-21.11.90.tar.xz">kde-dev-scripts-21.11.90</a></td>
   <td align="right">357kB</td>
   <td><tt>3da3d307575a70e354fa24f7bb30197ee0be52ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kde-dev-utils-21.11.90.tar.xz">kde-dev-utils-21.11.90</a></td>
   <td align="right">66kB</td>
   <td><tt>26ea9eb8f52ffb68fef7d1f9ddcde2fa8bca4791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdeedu-data-21.11.90.tar.xz">kdeedu-data-21.11.90</a></td>
   <td align="right">327kB</td>
   <td><tt>76904df58606dfa33b544859559128574393a915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdegraphics-mobipocket-21.11.90.tar.xz">kdegraphics-mobipocket-21.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>a93236769cb4d9e30f24a544a53d5fdac684057b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdegraphics-thumbnailers-21.11.90.tar.xz">kdegraphics-thumbnailers-21.11.90</a></td>
   <td align="right">46kB</td>
   <td><tt>ddc2782131a99256894f02dbb43789cfb4ffbdd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdenetwork-filesharing-21.11.90.tar.xz">kdenetwork-filesharing-21.11.90</a></td>
   <td align="right">369kB</td>
   <td><tt>80e121e75330bd5c2ce7f7357d059fab71f67eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdenlive-21.11.90.tar.xz">kdenlive-21.11.90</a></td>
   <td align="right">11541kB</td>
   <td><tt>9c6b7792971db6beac3cd82c39908ff887ed8091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdepim-addons-21.11.90.tar.xz">kdepim-addons-21.11.90</a></td>
   <td align="right">2242kB</td>
   <td><tt>45e30d980ee3cbf34d2c52d1c437454f31ba96ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdepim-runtime-21.11.90.tar.xz">kdepim-runtime-21.11.90</a></td>
   <td align="right">1765kB</td>
   <td><tt>48b691e4ca7ebcb65a0aecbe181b399e2e86830a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdesdk-kioslaves-21.11.90.tar.xz">kdesdk-kioslaves-21.11.90</a></td>
   <td align="right">38kB</td>
   <td><tt>3886b257fa03af171655935af0f22b6ccee3ed46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdesdk-thumbnailers-21.11.90.tar.xz">kdesdk-thumbnailers-21.11.90</a></td>
   <td align="right">25kB</td>
   <td><tt>2f9167098257ee48822f8f9d3fed46dc182787e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdevelop-21.11.90.tar.xz">kdevelop-21.11.90</a></td>
   <td align="right">8191kB</td>
   <td><tt>8443628babf76d9fb9ce26db4048bc34c4e05044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdev-php-21.11.90.tar.xz">kdev-php-21.11.90</a></td>
   <td align="right">1054kB</td>
   <td><tt>372ab081a9f9ca9041232fc9c037f992b9da76e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdev-python-21.11.90.tar.xz">kdev-python-21.11.90</a></td>
   <td align="right">1064kB</td>
   <td><tt>3183be49fb3fb3380f148825440571605a23a6c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdf-21.11.90.tar.xz">kdf-21.11.90</a></td>
   <td align="right">463kB</td>
   <td><tt>7b3274ec9f6db084d18a0cfb0be4c9349758ee09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdialog-21.11.90.tar.xz">kdialog-21.11.90</a></td>
   <td align="right">113kB</td>
   <td><tt>7c9e8b4eb87400146819fecf7ceb1d4bf7801c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kdiamond-21.11.90.tar.xz">kdiamond-21.11.90</a></td>
   <td align="right">4590kB</td>
   <td><tt>25bb177fb8cbc66a8478e568d5db1ff31b94fd49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/keditbookmarks-21.11.90.tar.xz">keditbookmarks-21.11.90</a></td>
   <td align="right">199kB</td>
   <td><tt>12d96a89321f021eab251e5d93b6a8f7a9d98b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kfind-21.11.90.tar.xz">kfind-21.11.90</a></td>
   <td align="right">280kB</td>
   <td><tt>3df205d600ebd4385aec8d92a134a42ea0eacf97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kfloppy-21.11.90.tar.xz">kfloppy-21.11.90</a></td>
   <td align="right">208kB</td>
   <td><tt>67481b89d7636031bfe59372a8e4a25c88c3c4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kfourinline-21.11.90.tar.xz">kfourinline-21.11.90</a></td>
   <td align="right">702kB</td>
   <td><tt>037602d665d221e2ccce91e840c839b927d10500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kgeography-21.11.90.tar.xz">kgeography-21.11.90</a></td>
   <td align="right">10829kB</td>
   <td><tt>24c99eec6b0bf83c8ccbbdd96cce5534b4b9f222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kget-21.11.90.tar.xz">kget-21.11.90</a></td>
   <td align="right">5502kB</td>
   <td><tt>206cce06a0aa20405cd6dcb5f79c91d82b395cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kgoldrunner-21.11.90.tar.xz">kgoldrunner-21.11.90</a></td>
   <td align="right">4656kB</td>
   <td><tt>b1b71534ba479ef9b8befe8a38aa6f21468bbf84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kgpg-21.11.90.tar.xz">kgpg-21.11.90</a></td>
   <td align="right">2877kB</td>
   <td><tt>e9e19070db4d34f7d0956b9b9d8417de125aa53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/khangman-21.11.90.tar.xz">khangman-21.11.90</a></td>
   <td align="right">7256kB</td>
   <td><tt>47e2aa9fab8694f29b7d3059966e7e5233d78636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/khelpcenter-21.11.90.tar.xz">khelpcenter-21.11.90</a></td>
   <td align="right">4191kB</td>
   <td><tt>8cd1a946e58999cbac42a3c26a163c3f307d3918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kidentitymanagement-21.11.90.tar.xz">kidentitymanagement-21.11.90</a></td>
   <td align="right">154kB</td>
   <td><tt>903b47f4fcbe4cb44e35365c4f1721848a01a9fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kig-21.11.90.tar.xz">kig-21.11.90</a></td>
   <td align="right">3100kB</td>
   <td><tt>fe1d9ed8e78a26af6cc69b60e96ae28873213957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kigo-21.11.90.tar.xz">kigo-21.11.90</a></td>
   <td align="right">5129kB</td>
   <td><tt>d67752174fb7be8e3e1e626b44a702c15e008716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/killbots-21.11.90.tar.xz">killbots-21.11.90</a></td>
   <td align="right">1165kB</td>
   <td><tt>99978b4d16d7286aab7b583bdbb316781ea34350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kimagemapeditor-21.11.90.tar.xz">kimagemapeditor-21.11.90</a></td>
   <td align="right">1063kB</td>
   <td><tt>a4d59b256542eeaf585e9ff4cd1c6d30e2a17ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kimap-21.11.90.tar.xz">kimap-21.11.90</a></td>
   <td align="right">125kB</td>
   <td><tt>e2ff0fa684369f6c56b7a624486b315643892842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kio-extras-21.11.90.tar.xz">kio-extras-21.11.90</a></td>
   <td align="right">618kB</td>
   <td><tt>6449602cc70ba729013e75db899df160c3ab3378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kio-gdrive-21.11.90.tar.xz">kio-gdrive-21.11.90</a></td>
   <td align="right">68kB</td>
   <td><tt>eafa30e188978cd2c593d9d78ad9f550b62f7a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kipi-plugins-21.11.90.tar.xz">kipi-plugins-21.11.90</a></td>
   <td align="right">1510kB</td>
   <td><tt>f2eea67f04c350790688c62db9c6af2584912e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kirigami-gallery-21.11.90.tar.xz">kirigami-gallery-21.11.90</a></td>
   <td align="right">323kB</td>
   <td><tt>8028b626743c9998270540e8b6c721dc35ad907b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kiriki-21.11.90.tar.xz">kiriki-21.11.90</a></td>
   <td align="right">356kB</td>
   <td><tt>99461aca2793d4cf95b9cd00b9c361570e0c322b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kiten-21.11.90.tar.xz">kiten-21.11.90</a></td>
   <td align="right">11049kB</td>
   <td><tt>2511f5868f7d6fd2cbdcdc6fefe8d45a9a2a3ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kitinerary-21.11.90.tar.xz">kitinerary-21.11.90</a></td>
   <td align="right">1812kB</td>
   <td><tt>86c59eb21a49b1d3329654f5774d4208169d7b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kjumpingcube-21.11.90.tar.xz">kjumpingcube-21.11.90</a></td>
   <td align="right">315kB</td>
   <td><tt>0234f133a94d8c5ca9405d2841cd621dd318e222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kldap-21.11.90.tar.xz">kldap-21.11.90</a></td>
   <td align="right">168kB</td>
   <td><tt>7c581418d8889d4f7dd8d3a233f1fccaccc4d156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kleopatra-21.11.90.tar.xz">kleopatra-21.11.90</a></td>
   <td align="right">2100kB</td>
   <td><tt>3bdb95eeeaaaaf531609be69b67f506f35e7dcd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/klettres-21.11.90.tar.xz">klettres-21.11.90</a></td>
   <td align="right">46035kB</td>
   <td><tt>d39ebb92b1d6b862fb271fb1a724af69b7118fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/klickety-21.11.90.tar.xz">klickety-21.11.90</a></td>
   <td align="right">1457kB</td>
   <td><tt>abed2d8af793b074174b5dfdaa9ef0d2d68e6adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/klines-21.11.90.tar.xz">klines-21.11.90</a></td>
   <td align="right">1683kB</td>
   <td><tt>a62457e2629debf9ee038d193009b3617abc293e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmag-21.11.90.tar.xz">kmag-21.11.90</a></td>
   <td align="right">689kB</td>
   <td><tt>0e8acb141e6ede4bdba1df47cbdd59e06c903add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmahjongg-21.11.90.tar.xz">kmahjongg-21.11.90</a></td>
   <td align="right">3972kB</td>
   <td><tt>f4de5de981dc44c41e3bda7748b4ffa7e686c95f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmail-21.11.90.tar.xz">kmail-21.11.90</a></td>
   <td align="right">6890kB</td>
   <td><tt>602aadbbde2babc9485e999e1eb8c40f8195dcd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmail-account-wizard-21.11.90.tar.xz">kmail-account-wizard-21.11.90</a></td>
   <td align="right">165kB</td>
   <td><tt>23ed1cbbe3e4e4fb73eee2ba099a4e32a0d1a71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmailtransport-21.11.90.tar.xz">kmailtransport-21.11.90</a></td>
   <td align="right">169kB</td>
   <td><tt>ae385f7f8e2d93d7150f9e2a4cd5d970cf977e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmbox-21.11.90.tar.xz">kmbox-21.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>1ad802de9b87e108cc79121ac1291f957a08e4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmime-21.11.90.tar.xz">kmime-21.11.90</a></td>
   <td align="right">152kB</td>
   <td><tt>1bce56724e030d3a118292880a68fa2584e67839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmines-21.11.90.tar.xz">kmines-21.11.90</a></td>
   <td align="right">967kB</td>
   <td><tt>57f0d41d08f55ba7f897660747c5c8a101fc3931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmix-21.11.90.tar.xz">kmix-21.11.90</a></td>
   <td align="right">1136kB</td>
   <td><tt>bd4e76e09b208cc1df91e7cf04df6e63032f9625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmousetool-21.11.90.tar.xz">kmousetool-21.11.90</a></td>
   <td align="right">118kB</td>
   <td><tt>6f59cf568cbbbbf0d25b2e24a1efcdcc141bf31c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmouth-21.11.90.tar.xz">kmouth-21.11.90</a></td>
   <td align="right">2054kB</td>
   <td><tt>dd3357e9f14b3347b9082e11fddd4d4ddb70eb89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kmplot-21.11.90.tar.xz">kmplot-21.11.90</a></td>
   <td align="right">2971kB</td>
   <td><tt>08737918e0f301f9e84af415b9e30bd9cd6fe526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/knavalbattle-21.11.90.tar.xz">knavalbattle-21.11.90</a></td>
   <td align="right">1343kB</td>
   <td><tt>db460e0590f10a7122d1fcf7560ce1c8f3f4281e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/knetwalk-21.11.90.tar.xz">knetwalk-21.11.90</a></td>
   <td align="right">1068kB</td>
   <td><tt>7ebd7bac6e910fa65f40f2c6e866e3354d0ddf27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/knights-21.11.90.tar.xz">knights-21.11.90</a></td>
   <td align="right">3242kB</td>
   <td><tt>887b7cb616126b9b5fabecd9efaa38508b2e1cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/knotes-21.11.90.tar.xz">knotes-21.11.90</a></td>
   <td align="right">333kB</td>
   <td><tt>60b98fe2a79f04e49e63e9afeed76fd2c8189ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kolf-21.11.90.tar.xz">kolf-21.11.90</a></td>
   <td align="right">1026kB</td>
   <td><tt>a3ec3adb1572167eef0ba1f693e3ed0015a5cf63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kollision-21.11.90.tar.xz">kollision-21.11.90</a></td>
   <td align="right">291kB</td>
   <td><tt>a6c5296692a093ac8d9b9eb04ac1782b406c8654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kolourpaint-21.11.90.tar.xz">kolourpaint-21.11.90</a></td>
   <td align="right">5582kB</td>
   <td><tt>a41f0b3a59594cdb4abdbc7410db1693b71e6690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kompare-21.11.90.tar.xz">kompare-21.11.90</a></td>
   <td align="right">920kB</td>
   <td><tt>6a917a6d34fd6f6e96e1456807483764a684f2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/konqueror-21.11.90.tar.xz">konqueror-21.11.90</a></td>
   <td align="right">7253kB</td>
   <td><tt>00a6e8b387e60f55c52d1d87ac9f0856d68a153b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/konquest-21.11.90.tar.xz">konquest-21.11.90</a></td>
   <td align="right">840kB</td>
   <td><tt>7169574d855c3e70e6719a78b83cfa75eab5a2c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/konsole-21.11.90.tar.xz">konsole-21.11.90</a></td>
   <td align="right">1353kB</td>
   <td><tt>faef5cff7058aa344da515b0b76a1a781ecb83d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kontact-21.11.90.tar.xz">kontact-21.11.90</a></td>
   <td align="right">798kB</td>
   <td><tt>9cfa56f5dc16a611b472ee696109cbc9e5f0e25a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kontactinterface-21.11.90.tar.xz">kontactinterface-21.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>6ad069b437dbe1175a5f931f3c6b7067cb38e925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kontrast-21.11.90.tar.xz">kontrast-21.11.90</a></td>
   <td align="right">122kB</td>
   <td><tt>00c6fae8eab1316b95643c36a832b5a215fb2982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/konversation-21.11.90.tar.xz">konversation-21.11.90</a></td>
   <td align="right">4151kB</td>
   <td><tt>e43346ec280a45f789c00d12b3a713aa64eaea30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kopeninghours-21.11.90.tar.xz">kopeninghours-21.11.90</a></td>
   <td align="right">65kB</td>
   <td><tt>446f3a3acd7fead423b38c64592bb8a758ce4046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kopete-21.11.90.tar.xz">kopete-21.11.90</a></td>
   <td align="right">9439kB</td>
   <td><tt>89d71772723e74d6951100a3afb3ad78a5d44fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/korganizer-21.11.90.tar.xz">korganizer-21.11.90</a></td>
   <td align="right">2340kB</td>
   <td><tt>a083f3ecbec59feedc7496f19090f86e9005c124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kosmindoormap-21.11.90.tar.xz">kosmindoormap-21.11.90</a></td>
   <td align="right">342kB</td>
   <td><tt>4a3643c025d95d0781ac3112a97b6562de123081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kpat-21.11.90.tar.xz">kpat-21.11.90</a></td>
   <td align="right">3642kB</td>
   <td><tt>127382686277328237dd5a1937b7f817488d7fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kpimtextedit-21.11.90.tar.xz">kpimtextedit-21.11.90</a></td>
   <td align="right">206kB</td>
   <td><tt>3cf0a65a0bde203a8da5e5fa7e8089d4fc808ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kpkpass-21.11.90.tar.xz">kpkpass-21.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>e667727b058db853faea193771497d0082ad88b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kpmcore-21.11.90.tar.xz">kpmcore-21.11.90</a></td>
   <td align="right">580kB</td>
   <td><tt>a01ba50c3aa7adc6fe5939239a9bb9040c771594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kpublictransport-21.11.90.tar.xz">kpublictransport-21.11.90</a></td>
   <td align="right">467kB</td>
   <td><tt>c2f7c14267e0e3351e8b73a8b7ae8ca4cdfb92d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kqtquickcharts-21.11.90.tar.xz">kqtquickcharts-21.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>a8d8169ff4f79f98cd6437a20223b31a46002e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/krdc-21.11.90.tar.xz">krdc-21.11.90</a></td>
   <td align="right">1546kB</td>
   <td><tt>e67ce687ec425c6f093cb0d80483fe94b75e2408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kreversi-21.11.90.tar.xz">kreversi-21.11.90</a></td>
   <td align="right">1035kB</td>
   <td><tt>44ab141684fa764205d76feff1249652a94bcaed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/krfb-21.11.90.tar.xz">krfb-21.11.90</a></td>
   <td align="right">1271kB</td>
   <td><tt>eee4027842b1ac6c3a1d7e7f5c581cabdf845f24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kross-interpreters-21.11.90.tar.xz">kross-interpreters-21.11.90</a></td>
   <td align="right">147kB</td>
   <td><tt>84619d484982448a050e02af5a5cb5991f8ff9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kruler-21.11.90.tar.xz">kruler-21.11.90</a></td>
   <td align="right">270kB</td>
   <td><tt>181f1f7ecd6a6372844b9aca918771414df91e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kshisen-21.11.90.tar.xz">kshisen-21.11.90</a></td>
   <td align="right">964kB</td>
   <td><tt>71c65e4a6ff255ddf45ca093e98a287de0f12aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ksirk-21.11.90.tar.xz">ksirk-21.11.90</a></td>
   <td align="right">6838kB</td>
   <td><tt>a42e7c0021f09e4cfcd922b1697483d05c891ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ksmtp-21.11.90.tar.xz">ksmtp-21.11.90</a></td>
   <td align="right">47kB</td>
   <td><tt>166aaf4769f13955bce4d0f824f0fccc82cdd493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ksnakeduel-21.11.90.tar.xz">ksnakeduel-21.11.90</a></td>
   <td align="right">588kB</td>
   <td><tt>118b805e639ef1bf6e4c81eab1817388f1649eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kspaceduel-21.11.90.tar.xz">kspaceduel-21.11.90</a></td>
   <td align="right">633kB</td>
   <td><tt>38954a8eb699667b4cb51d5cc5f6a021b7063503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ksquares-21.11.90.tar.xz">ksquares-21.11.90</a></td>
   <td align="right">297kB</td>
   <td><tt>3393756b5b66ba262d8eca59392035bc0cf44808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ksudoku-21.11.90.tar.xz">ksudoku-21.11.90</a></td>
   <td align="right">1642kB</td>
   <td><tt>37ba4ba599f8c46087f53edfbb82cb40a860b47c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ksystemlog-21.11.90.tar.xz">ksystemlog-21.11.90</a></td>
   <td align="right">1921kB</td>
   <td><tt>7e166286fafb7e5d31250939e87f709fd1c0070c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kteatime-21.11.90.tar.xz">kteatime-21.11.90</a></td>
   <td align="right">294kB</td>
   <td><tt>8400a10f53bffa4504b4cf264434ff2f3f7947b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktimer-21.11.90.tar.xz">ktimer-21.11.90</a></td>
   <td align="right">382kB</td>
   <td><tt>b24c0899e597e59b38507825bd61f29fca46ff0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktnef-21.11.90.tar.xz">ktnef-21.11.90</a></td>
   <td align="right">298kB</td>
   <td><tt>9a3e49f473940324f715a26e640307331f6cee90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktorrent-21.11.90.tar.xz">ktorrent-21.11.90</a></td>
   <td align="right">2016kB</td>
   <td><tt>c3ea7281c45249ebd27151c4f1b6ebdc07959c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktouch-21.11.90.tar.xz">ktouch-21.11.90</a></td>
   <td align="right">4851kB</td>
   <td><tt>27bacf7a4befb6f72167b97d90b605b7ec59e183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-accounts-kcm-21.11.90.tar.xz">ktp-accounts-kcm-21.11.90</a></td>
   <td align="right">260kB</td>
   <td><tt>b9a182a154b11f578b1de0bf62ef0a149b66bd86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-approver-21.11.90.tar.xz">ktp-approver-21.11.90</a></td>
   <td align="right">37kB</td>
   <td><tt>d9f3fe77ba0a4b604fab315e04c3abdc480de1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-auth-handler-21.11.90.tar.xz">ktp-auth-handler-21.11.90</a></td>
   <td align="right">46kB</td>
   <td><tt>05406bc9b96453c4bf0596325dea149992231efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-call-ui-21.11.90.tar.xz">ktp-call-ui-21.11.90</a></td>
   <td align="right">96kB</td>
   <td><tt>82c5dde620f021abce2bbe6f5e759b9fd526da62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-common-internals-21.11.90.tar.xz">ktp-common-internals-21.11.90</a></td>
   <td align="right">440kB</td>
   <td><tt>ec9d3decfe5b455d323c43193df88980fd6a70c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-contact-list-21.11.90.tar.xz">ktp-contact-list-21.11.90</a></td>
   <td align="right">150kB</td>
   <td><tt>ae48f1edfac0cf94b80385ed6311aaa459bc8ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-contact-runner-21.11.90.tar.xz">ktp-contact-runner-21.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>394da9b747edaed63bf9c4a96e4799847920d227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-desktop-applets-21.11.90.tar.xz">ktp-desktop-applets-21.11.90</a></td>
   <td align="right">43kB</td>
   <td><tt>ef8c4668351a31ef023366556d23b349c2ec5439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-filetransfer-handler-21.11.90.tar.xz">ktp-filetransfer-handler-21.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>e6cc69dea0d38c14bf6cef089b131cec56ac01c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-kded-module-21.11.90.tar.xz">ktp-kded-module-21.11.90</a></td>
   <td align="right">97kB</td>
   <td><tt>7353bb5da89ab44b1723e3189ffa31d57aeaca2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-send-file-21.11.90.tar.xz">ktp-send-file-21.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>e84e25360a73e0df4e59777f1fa9901f17299cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktp-text-ui-21.11.90.tar.xz">ktp-text-ui-21.11.90</a></td>
   <td align="right">463kB</td>
   <td><tt>9b1bebba23f1e640a54b0eb99e1b0253d8aa2dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/ktuberling-21.11.90.tar.xz">ktuberling-21.11.90</a></td>
   <td align="right">69173kB</td>
   <td><tt>7fe051941966c37e07af614ed4aeb91ad662beed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kturtle-21.11.90.tar.xz">kturtle-21.11.90</a></td>
   <td align="right">1925kB</td>
   <td><tt>863b63ba12a54b411e75203377b6dad70221c8ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kubrick-21.11.90.tar.xz">kubrick-21.11.90</a></td>
   <td align="right">335kB</td>
   <td><tt>31c9690aac2ae446083ef2d5830e27308991ab1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kwalletmanager-21.11.90.tar.xz">kwalletmanager-21.11.90</a></td>
   <td align="right">781kB</td>
   <td><tt>804b88a650b25748a2bd7359885a1a4831c2baac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kwave-21.11.90.tar.xz">kwave-21.11.90</a></td>
   <td align="right">6790kB</td>
   <td><tt>083dc82bce3bd10d5fdfa14dddb48c1279db1466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/kwordquiz-21.11.90.tar.xz">kwordquiz-21.11.90</a></td>
   <td align="right">4108kB</td>
   <td><tt>20c5e6213406dee1ecd6c088213e131942356758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libgravatar-21.11.90.tar.xz">libgravatar-21.11.90</a></td>
   <td align="right">34kB</td>
   <td><tt>3d4030e6540fd130020ab5a7ed9b3bf77453c9f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkcddb-21.11.90.tar.xz">libkcddb-21.11.90</a></td>
   <td align="right">422kB</td>
   <td><tt>d99596cd0e5d38efe06f202792a9e57113c5964d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkcompactdisc-21.11.90.tar.xz">libkcompactdisc-21.11.90</a></td>
   <td align="right">94kB</td>
   <td><tt>f937d202253d600d8aaec0c12fa4f38fe69453b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkdcraw-21.11.90.tar.xz">libkdcraw-21.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>3309c09b7aa16ef49a4dbda8bf7d54d2aead4a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkdegames-21.11.90.tar.xz">libkdegames-21.11.90</a></td>
   <td align="right">5809kB</td>
   <td><tt>912b32503afbc08553b76790efcc95697b79b386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkdepim-21.11.90.tar.xz">libkdepim-21.11.90</a></td>
   <td align="right">248kB</td>
   <td><tt>6226584bbfda0610de3cccfcee944cac671c2d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkeduvocdocument-21.11.90.tar.xz">libkeduvocdocument-21.11.90</a></td>
   <td align="right">212kB</td>
   <td><tt>7f6a1d3e754a65360f4f1b960f804085f61d19ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkexiv2-21.11.90.tar.xz">libkexiv2-21.11.90</a></td>
   <td align="right">58kB</td>
   <td><tt>74cc0884b75935373831e0e86d4240c254da51c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkgapi-21.11.90.tar.xz">libkgapi-21.11.90</a></td>
   <td align="right">239kB</td>
   <td><tt>152c6de6750168d8bc0fe7d5b97d9eb93e4129b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkipi-21.11.90.tar.xz">libkipi-21.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>93ceabd7ec58a31480ab53d1093b617f1541e980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkleo-21.11.90.tar.xz">libkleo-21.11.90</a></td>
   <td align="right">436kB</td>
   <td><tt>9e090d43119cc133553f15927bdf1ffab1654674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkmahjongg-21.11.90.tar.xz">libkmahjongg-21.11.90</a></td>
   <td align="right">1643kB</td>
   <td><tt>b6539352520cfa6eb32117d58da42476f1de51de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libkomparediff2-21.11.90.tar.xz">libkomparediff2-21.11.90</a></td>
   <td align="right">168kB</td>
   <td><tt>3e880ec0ae4bcc85bd5cba2186333acbcdb7791f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libksane-21.11.90.tar.xz">libksane-21.11.90</a></td>
   <td align="right">158kB</td>
   <td><tt>a2d16872c215eb2f8b8d5c1955f8d3546ca12e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libksieve-21.11.90.tar.xz">libksieve-21.11.90</a></td>
   <td align="right">559kB</td>
   <td><tt>a2a93ae36ec6e0ee6303f210d88179bd6fe41be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/libktorrent-21.11.90.tar.xz">libktorrent-21.11.90</a></td>
   <td align="right">591kB</td>
   <td><tt>b5db96e5ead70974a4554233cf9c5c6301cd5e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/lokalize-21.11.90.tar.xz">lokalize-21.11.90</a></td>
   <td align="right">2006kB</td>
   <td><tt>1f1280cb4322c7e147d158b726b92fa30aa91329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/lskat-21.11.90.tar.xz">lskat-21.11.90</a></td>
   <td align="right">1203kB</td>
   <td><tt>492fcdd037487fa5b11aeaec064210649bd8315e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/mailcommon-21.11.90.tar.xz">mailcommon-21.11.90</a></td>
   <td align="right">719kB</td>
   <td><tt>7943d192e21902c1f65140426f37e397840288e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/mailimporter-21.11.90.tar.xz">mailimporter-21.11.90</a></td>
   <td align="right">545kB</td>
   <td><tt>6f51c7f752992c9a13e608f79d2104ee2d09f5e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/marble-21.11.90.tar.xz">marble-21.11.90</a></td>
   <td align="right">52401kB</td>
   <td><tt>5b5cd824a2cf980473c083be9b3632bcb4295e00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/markdownpart-21.11.90.tar.xz">markdownpart-21.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>9c41c6c21ac6ad09547453dae374467134e7d00c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/mbox-importer-21.11.90.tar.xz">mbox-importer-21.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>4d48d22aa92b26b32b9e5777d77981f9828564ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/messagelib-21.11.90.tar.xz">messagelib-21.11.90</a></td>
   <td align="right">10605kB</td>
   <td><tt>f12ba2f01728c439b6197dc000913a1d955b40c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/minuet-21.11.90.tar.xz">minuet-21.11.90</a></td>
   <td align="right">27022kB</td>
   <td><tt>f08679f03ede2865546cf93dcdd22af19e0e6aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/okular-21.11.90.tar.xz">okular-21.11.90</a></td>
   <td align="right">7935kB</td>
   <td><tt>ab903d40443b697d402ab8affeff7b41aa6f238d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/palapeli-21.11.90.tar.xz">palapeli-21.11.90</a></td>
   <td align="right">2045kB</td>
   <td><tt>a4680533c6520c3b8108083c61d4cd4c31f2ae9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/parley-21.11.90.tar.xz">parley-21.11.90</a></td>
   <td align="right">8286kB</td>
   <td><tt>2251466ef0e8fc86397fd03c288b5473604ec91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/partitionmanager-21.11.90.tar.xz">partitionmanager-21.11.90</a></td>
   <td align="right">2049kB</td>
   <td><tt>6eb0ed1d6a137437d3349e056c6d762ded174c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/picmi-21.11.90.tar.xz">picmi-21.11.90</a></td>
   <td align="right">1501kB</td>
   <td><tt>55ff6beaa1901154ac6f6ecacd7d1f2cb310b4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/pimcommon-21.11.90.tar.xz">pimcommon-21.11.90</a></td>
   <td align="right">361kB</td>
   <td><tt>0f46d8bbdf87209b6d6b6045f41a8cc3739bf154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/pim-data-exporter-21.11.90.tar.xz">pim-data-exporter-21.11.90</a></td>
   <td align="right">393kB</td>
   <td><tt>d74f546f4f98ef4947573577f2256d66a7d9b20b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/pim-sieve-editor-21.11.90.tar.xz">pim-sieve-editor-21.11.90</a></td>
   <td align="right">447kB</td>
   <td><tt>ba0f02912f2f80a133f4108c0fd4cb3d8ea99f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/poxml-21.11.90.tar.xz">poxml-21.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>2ddf7b2d59aebe15b6bbc2e49307974c59cb3c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/print-manager-21.11.90.tar.xz">print-manager-21.11.90</a></td>
   <td align="right">265kB</td>
   <td><tt>e6b4773c910c990deb0ad88f65c03d280fbef0cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/rocs-21.11.90.tar.xz">rocs-21.11.90</a></td>
   <td align="right">1522kB</td>
   <td><tt>c57a66e421b31bd4c0dedd95e3e3798eebd3d0a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/signon-kwallet-extension-21.11.90.tar.xz">signon-kwallet-extension-21.11.90</a></td>
   <td align="right">10kB</td>
   <td><tt>f0d7a778070c38ed0ca87551483e4569c4643d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/skanlite-21.11.90.tar.xz">skanlite-21.11.90</a></td>
   <td align="right">2382kB</td>
   <td><tt>306ca4d5fb697dbd27ea51b8adc3299528b16bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/spectacle-21.11.90.tar.xz">spectacle-21.11.90</a></td>
   <td align="right">1224kB</td>
   <td><tt>a2652140b3f2ffe714ba23b3145a787b9f1ed0b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/step-21.11.90.tar.xz">step-21.11.90</a></td>
   <td align="right">900kB</td>
   <td><tt>3ac0b8729260ca1fa9afed4fcb33829168108d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/svgpart-21.11.90.tar.xz">svgpart-21.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>05b818d43cf683a0f3e006a668f5149017aa1771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/sweeper-21.11.90.tar.xz">sweeper-21.11.90</a></td>
   <td align="right">369kB</td>
   <td><tt>eb3de7b5e89756282046966dc67b722b9b478fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/umbrello-21.11.90.tar.xz">umbrello-21.11.90</a></td>
   <td align="right">5518kB</td>
   <td><tt>603ceb83d4e36ac028fc604aaefa2f83e4b9ec54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/yakuake-21.11.90.tar.xz">yakuake-21.11.90</a></td>
   <td align="right">391kB</td>
   <td><tt>0fb3b8f4593822dfc4f1ab61305d1a09312a2eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/zanshin-21.11.90.tar.xz">zanshin-21.11.90</a></td>
   <td align="right">342kB</td>
   <td><tt>05c13a84231e1e54e003f5d16b7b0ec70dbdf7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.90/src/zeroconf-ioslave-21.11.90.tar.xz">zeroconf-ioslave-21.11.90</a></td>
   <td align="right">37kB</td>
   <td><tt>63c67bde9510164022c169d12efe7289bcdf6bc8</tt></td>
</tr>

</table>
