/**
 * SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.release-framework-heading {
  background: #01d486;
  background: linear-gradient(128deg, #01d486 0%, #3daee8 100%);
  text-shadow: 0 0 0px #fff;
  color: white;
  padding-bottom: 20px;
}
.release-framework-heading a, .release-framework-heading a:hover {
  color: white;
}
.release-framework-heading::after {
  width: 0;
  height:0;
}

.kde-logo-big {
  background-color: inherit;
  font-family: glyph;
  font-size: 7em;
}
