{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img
          class="d-none d-lg-block"
          style="width: 100%; max-width: 1500px"
          alt=""
          src="/fundraisers/konqi-katie-donation.jpg"
        />
      </div>
      <div class="col-lg-4">
        <script
          src="https://donorbox.org/widget.js"
          paypalExpress="true"
        ></script>
        <div class="donorbox">
          <iframe
            style="border-radius: 8px"
            src="https://donorbox.org/embed/kde-become-a-member"
            name="donorbox"
            width="100%"
            height="600px"
            frameborder="0"
            scrolling="no"
            seamless="seamless"
          ></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
          <p>
            Asim Shrestha ⭐ Matthew Henry ⭐ Simon Hötten ⭐ Roberto Michán
            Sánchez ⭐ Tomás Duarte ⭐ JIMI ROSS ⭐ Stanislas Leduc ⭐ Michael
            Schaffner ⭐ Michael Alexsander ⭐ Milton Hagler ⭐ Wyatt Childers
            ⭐ Milas Bowman ⭐ Will Styler ⭐ Federico Dossena ⭐ Mario Loik ⭐
            Artem Puzikov ⭐ Xuetian Weng ⭐ Robert Levine ⭐ Anthony (anthr76)
            Rabbito ⭐ Michel Filipe ⭐ Lukas Skala ⭐ Andreas Heinkelein ⭐ Ján
            Trenčanský ⭐ Chrismettal Binary-6 ⭐ Zacharie Monnet ⭐ Samuel
            Jordan Kleinman ⭐ Adam Szopa ⭐ Ralf Hein ⭐ Kevin Messer ⭐ Witold
            Sosnowski ⭐ Bernhard Breinbauer ⭐ Mustafa Muhammad ⭐ John Chufar
            ⭐ Yoann LE TOUCHE ⭐ Antoni Aloy Torrens ⭐ MD RIDOWAN ⭐ Aljosha
            Papsch ⭐ Stewart Webb ⭐ Marcel Siggelsten ⭐ Willow Aran ⭐ Boji
            Tony ⭐ Mitchel Bone ⭐ Elijah Helms ⭐ Thomas Karpiniec ⭐ Eduard
            Nikoleisen ⭐ Kevin McCarthy ⭐ Vincent Delor ⭐ Jon Stelly ⭐ Tim
            Blomme ⭐ Andrea Scartazza ⭐ Nathan Wolf ⭐ Malte Jürgens ⭐ Moritz
            Schulte ⭐ Samega 7Cattac ⭐ Kai-Uwe Uhlitzsch ⭐ Matthias Born ⭐
            Régis GUYOMARCH ⭐ Gerhard Dittes ⭐ Stephen Crocker ⭐ Ami Chayun
            ⭐ Mikołaj Świątek ⭐ Achim Bohnet ⭐ Renārs Ceļapīters ⭐ Bernie
            Innocenti ⭐ Chad McCullough ⭐ Hennie Marais ⭐ Arian Wichmann ⭐
            Vojtech Kuchar ⭐ Luis Alvarado ⭐ Chris Niewiarowski ⭐ Loïc
            Bersier ⭐ Herbert Feiler ⭐ Lennart Kroll ⭐ Alexey Andreyev ⭐
            Galin Yordanov ⭐ Spencer Sawyer ⭐ Wolfgang Kerschbaumer ⭐ Flori G
            ⭐ Martin Supan ⭐ Jennifer Radtke ⭐ Sergei Golimbievsky ⭐ Riho
            Kalbus ⭐ Christoffer Jansson ⭐ Jacob Ludvigsen ⭐ Marcel Pierre
            Simon ⭐ Christian Moesgaard ⭐ Sam Smucny ⭐ Jonas Büttner ⭐
            Jaspal Chauhan ⭐ Przemysław Romanik ⭐ Patrick Gianelli ⭐ Fabian
            Niepelt ⭐ D Ennis ⭐ Jordi Ferrando ⭐ Mikko Mensonen ⭐ Eddie
            Carswell ⭐ Batuhan Cinar ⭐ Marius Hergel ⭐ Rhys Jones ⭐ Dennis
            Dalstrøm ⭐ Yishu Wang ⭐ Cornelius Kluge ⭐ Jakob Rath ⭐ Stefan
            Hellwig ⭐ Lee Courington ⭐ Thomas Ludwig ⭐ Srikar Gottipati ⭐
            Mihail Morosan ⭐ Sarat Chandra ⭐ Daniel Olson ⭐ David Germain ⭐
            Christian Hofstede-Kuhn ⭐ Daniel Hurtado ⭐ Ivo Marciniak ⭐ André
            Barata ⭐ Warren Krettek ⭐ Tasuku Suzuki ⭐ Alejandro Muñoz
            Fernández ⭐ Romain Fleurette ⭐ Alexander Verweinen ⭐ Ryan
            McCullough ⭐ Robin Slot ⭐ José Couto ⭐ Paul Porubsky ⭐ Łukasz
            Plich ⭐ Daniel Bagge ⭐ Malin Stanescu ⭐ Costin-Tiberiu Vasilescu
            ⭐ ADAM K BIERMAN ⭐ Travis Suel ⭐ Luis Büchi ⭐ Pablo Caballero ⭐
            Baptiste Rajaut ⭐ Adam Dymitruk ⭐ Dougie Beney ⭐ Mikle Kerim ⭐
            Störm Poorun ⭐ Nostre NZ ⭐ Carlos Gonzalez Cortes ⭐ Joan Aluja
            Oraá ⭐ Henning Sextro ⭐ Zach B ⭐ Manuel Bödder ⭐ Linda Polman ⭐
            Shawn Dunn ⭐ Grzegorz Wierzowiecki ⭐ Jonatan Rosenius ⭐ Alonso
            Mendoza ⭐ Henri Michael ⭐ Peter Crasta ⭐ Arthur Galiullin ⭐
            Grider Li ⭐ Tommy Beauclair-Mariotti ⭐ Fco Javier Bolívar ⭐
            Archie Lamb ⭐ Sebastian Krönert ⭐ Harry A ⭐ Andrija Jovanovic ⭐
            Mark Hiles ⭐ Alexey Toklovich ⭐ Titouan Fuchs ⭐ Norbert Spina ⭐
            Bailey Hollis ⭐ Lisardo Sobrino ⭐ Matthew Orr ⭐ Linghai Yan ⭐
            Simon Finlay ⭐ Matt Milliman ⭐ Owen Sessiecq ⭐ Keelan Jones ⭐
            Igor Stojkovic ⭐ Shuyuan Liu ⭐ Michael Bolleininger ⭐ Jens
            Erdmann ⭐ Jeremy Winter ⭐ Carl Schwan ⭐ Dominik Lux ⭐ Chris
            Davis ⭐ Mark Marsh ⭐ Tubo Shi ⭐ Ian Boll ⭐ François-Xavier
            Thomas ⭐ Nathaniel Housman ⭐ Gerardus Franciscus Maria van Iersel
            ⭐ Dima T ⭐ Lukas Langrock ⭐ Brian Lemons ⭐ Batuhan Taskaya ⭐
            Andreas Paul ⭐ Jim Crawford ⭐ Jörg große Schlarmann ⭐ Rainier
            Ramos ⭐ Max Buchholz ⭐ Kieren Roberts ⭐ David Gow ⭐ Tristan Remy
            ⭐ Arthur Tadier ⭐ Lasse Danegod ⭐ Johann Jacobsohn ⭐ Jan De
            Luyck ⭐ Nicolas Rojas ⭐ Brendan Foote ⭐ Douglas Shaw ⭐ Sebastian
            Löw ⭐ TIMOPHEY TSITAVETS ⭐ Mike Dawson ⭐ Vladimir Baskakov ⭐
            Thibaud Franchetti ⭐ Jacob Becker ⭐ Márton Lente ⭐ Samuel Allen
            ⭐ Akseli Lahtinen ⭐ Anthony Beninati ⭐ Bel Lord-Williams ⭐
            Sergio Rodríguez Sansano ⭐ Christoph Vollmer ⭐ Emil Larsson ⭐
            Dominik Viskovic ⭐ Alessio Adamo ⭐ Sebastian Goth ⭐ Robert
            McCarter ⭐ Michael Niehoff ⭐ your mom ⭐ Radek Nováček ⭐ Ryein
            Goddard ⭐ Grégoire Duvauchelle ⭐ Dean Bradley ⭐ Nikita Malgin ⭐
            Ivan Nack ⭐ Marco Nelles ⭐ Nathan Westerman ⭐ May Doušak ⭐ Jure
            Repinc ⭐ Diego Miguel Lozano ⭐ Evan Chang ⭐ Cody Harrison ⭐
            Jonas Mutke ⭐ Lino Moser ⭐ Matthew Cazaly ⭐ Sébastien Monassa ⭐
            Cristian Le ⭐ Reid Wiggins ⭐ Tobias Brunner ⭐ Dmitry Misharov ⭐
            Pjol . ⭐ Max R ⭐ Julio Moya ⭐ Paul Birkholtz ⭐ Daniel
            Lloyd-Miller ⭐ Mateusz Brdoń ⭐ Mateusz Albecki ⭐ Curtis Bullock
            ⭐ Peter König ⭐ Adrian Friedli ⭐ Felix Knecht ⭐ Dmytro
            Nezhevenko ⭐ Mischa Zschokke-Gohl ⭐ Florian RICHER ⭐ Xuanyu Yu ⭐
            Timothy Carr ⭐ Bryan Zaffino ⭐ Ismar Kunic ⭐ John Kizer ⭐ Dyllan
            Kobal ⭐ Skye Van Valkenburgh ⭐ Blair Thiessen ⭐ Andrey Melentyev
            ⭐ Burgess Chang ⭐ Petr Tesarik ⭐ Rebecca Müller ⭐ Davor Grubisa
            ⭐ Jeremy Linton ⭐ Titouan Forgeard ⭐ Brandon Clark ⭐ Valentin
            Petzel ⭐ OC Blanco ⭐ Jeroen Huijsman ⭐ Lucas Ji ⭐ Marko Hehl ⭐
            Maarten Bijster ⭐ Dylan Taylor ⭐ Paul Merryfellow ⭐ Artur
            Pieniążek ⭐ David Walluscheck ⭐ Michael Stemle ⭐ Bentleigh
            Beugelaar ⭐ Miku Hatsune ⭐ Jakub Judas ⭐ Luke Renaud ⭐ Logan
            Rogers-Follis ⭐ Samir Nassar ⭐ Aroun Clément Baudouin-van Os ⭐
            Raphael Pretot ⭐ Odin Vex ⭐ Shingo Ishida ⭐ Paul Elliott ⭐ David
            Martinez ⭐ Łukasz Konieczny ⭐ Aaron Bockelie ⭐ Justus Tartz ⭐
            Mukilan Thiyagarajan ⭐ Mateusz Dytkowski ⭐ Lukas Hannawald ⭐
            Jaroslav Reznik ⭐ Piotr Gliźniewicz ⭐ Florian Klamer ⭐ William Z
            ⭐ Lauren Howe ⭐ Jens Reimann ⭐ David Chocholatý ⭐ Ivan Sabourin
            ⭐ Robert Riemann ⭐ Wesley Schroth ⭐ Guruprasad L ⭐ Dennis Körner
            ⭐ Martin Beck ⭐ Petri Koskimaa ⭐ Jan Iversen ⭐ Will Butler ⭐
            Jay Tuckey ⭐ Dan Heneise ⭐ Gabriel Malo ⭐ Joost Cassee ⭐ Dirk
            Ziegelmeier ⭐ Patrick David ⭐ Shayne Johnson ⭐ Brian Aberts ⭐
            Linus Karl ⭐ Jarsto van Santen ⭐ Andy Meier ⭐ Benjamin Tzschoppe
            ⭐ Quentin Stuchlik ⭐ Rob Goris ⭐ Luis Garcia ⭐ Lukas Kucerik ⭐
            Christopher Mandlbaur ⭐ Lorenzo Bicci ⭐ Pierre-Alexandre
            Hamel-Bussières ⭐ Matija Šuklje ⭐ Dave Lewis ⭐ Bart Otten ⭐
            Rahul Ramesh ⭐ Chris Killingsworth ⭐ Michal Hlaváč ⭐ Philipp
            Slusallek ⭐ Huw McNamara ⭐ Alexandre BROUET ⭐ Marcos Gutiérrez
            Alonso ⭐ Christian Hartmann ⭐ Vincent Wilms ⭐ Frédéric LAURENT ⭐
            Valerio Pilo ⭐ Nicolai Manique ⭐ Regina Abendroth ⭐ Markus Meier
            ⭐ Sergi Navas ⭐ David Roth ⭐ Aurélien COUDERC ⭐ Tony James ⭐
            Jim Helm ⭐ William Wojciechowski ⭐ edwin vervliet ⭐ Nicola
            Feltrin ⭐ Leander Nachreiner ⭐ Rob Hasselbaum ⭐ Brett Hagen ⭐
            Benjamin Xiao ⭐ Coty Ternes ⭐ Aman Chhabra ⭐ Nils Martens ⭐
            Emanuele Cannizzaro ⭐ Ulrich Schreiner ⭐ Turritopsis Dohrnii Teo
            En Ming ⭐ Sebastian Fohler ⭐ Vojtěch Indrák ⭐ Alexander Reimelt
            ⭐ Yu Te Wang ⭐ Brian Marsh ⭐ Florian Edelmann ⭐ Trey Boyer ⭐
            Andrew Munkres ⭐ Dennis Malmin ⭐ Brandon Jones ⭐ Stefan
            Zurucker-Burda ⭐ Thomas Eckart ⭐ Merry Mello ⭐ Jarkko Torvinen ⭐
            Szymon Łągiewka ⭐ Niklas Kämper ⭐ Sahan Fernando ⭐ Markus Ebner
            ⭐ Pascal Mages ⭐ Alicja Michalska ⭐ Marián Polťák ⭐ Paulo Dias
            ⭐ Hendrik Richter ⭐ Paul Fleischer ⭐ Lukas Neubert ⭐ Antonio
            Teixeira ⭐ Timo Büttner ⭐ Lars Jose ⭐ Victor Castillo ⭐ Marco
            Julian Solanki ⭐ Christoph Hümbert ⭐ Michael Brunner ⭐ Paul
            Worrall ⭐ Oliver Rasche ⭐ Nicola Jelmorini ⭐ Jérémy Friche ⭐
            Zane Godden ⭐ Ethan Hussong ⭐ Alexander Gurenko ⭐ Florian Stadler
            ⭐ Melissa Autumn ⭐ Semen Sobolev ⭐ Cameron Bosch ⭐ Cory Adkins
            ⭐ Janis Bundschu ⭐ George Pchelkin ⭐ Andrew Keenan Richardson ⭐
            Joshua Mohr ⭐ Sebastian Paul ⭐ Jason Seville ⭐ Marcus Harrison ⭐
            Nathan Pennington ⭐ Stephane Perrin ⭐ Julien Enselme ⭐ Andrea
            Panontin ⭐ Florentin Rack ⭐ Sandy F ⭐ Teodor Calin Sirbu ⭐ Lenno
            Nagel ⭐ Long Vu ⭐ Angus Kelsey ⭐ Monica Ayhens-Madon ⭐ Julian
            Raschke ⭐ bill morin ⭐ Jimmy Lindsey ⭐ Jason Logue ⭐ Zhangzhi Hu
            ⭐ Thomas ROBIN ⭐ Joey Eamigh ⭐ Stefan Neacsu ⭐ Nate Coffey ⭐
            Andrew Rosenwinkel ⭐ Julian Wefers ⭐ Pascal Schmidt ⭐ Peter
            Simonsson ⭐ Christoph Singer ⭐ Solomatin Vladimir ⭐ Nicola
            Mingotti ⭐ Isaac Patton ⭐ Julius Binder ⭐ Techin Eamrurksiri ⭐
            Tom Schwarz ⭐ Kiril Vladimirov ⭐ Rob Hyndman ⭐ Luciano Barea ⭐
            Neal Gompa ⭐ Julian Borrero ⭐ Jack Case ⭐ Andrei Ioachim ⭐ Conny
            Magnusson ⭐ Alishams Hassam ⭐ Julian Braha ⭐ Helge Bahmann ⭐
            Richard BEOLET ⭐ ILIOPOULOS IOANNIS ⭐ Antti Luoma ⭐ Tim van Osch
            ⭐ Moritz Lammerich ⭐ Severin Hamader ⭐ Albert Goncharov ⭐ Jacob
            Perron ⭐ Marco Götze ⭐ Patrick Nagel ⭐ Zoran Dimovski ⭐ Michael
            Meister ⭐ Linus Fell ⭐ Ole Solbakken ⭐ Jonas Hucklenbroich ⭐
            Michael Lelli ⭐ Max Schwarz ⭐ Simon Österle ⭐ Moritz Füssel ⭐
            Arne Keller ⭐ Roger Granrud ⭐ Dennis Schumann ⭐ Denis Doria ⭐
            Jeroen Tor ⭐ Achilleas Koutsou ⭐ Bjørnar Hausken ⭐ Denis Jovic ⭐
            Tamas Kornman ⭐ Diego Saavedra Aguirre ⭐ Jeff Cain ⭐ Cass Midkiff
            ⭐ Klemen Košir ⭐ Jasmijn Knoope ⭐ Rocky Cardwell ⭐ Philipp
            Lohnes ⭐ Gleb Sinyavskiy ⭐ Nick Severino ⭐ Peter Nunn ⭐
            Lizoblyud Lika ⭐ Alexander Ypema ⭐ Gabriel Morell ⭐ Guillaume GAY
            ⭐ harry loh ⭐ Matthew Brunelle ⭐ Muthanna K. ⭐ Bruno Rocha ⭐
            Dino Čobo ⭐ Edoardo Regni ⭐ James Fryman ⭐ Gerbrand van Dieyen ⭐
            Ondřej Vodáček ⭐ Tapio Metsälä ⭐ Mark Woltman ⭐ Gaurav Dasharathe
            ⭐ scaine uk ⭐ Eric NGUYEN ⭐ Jacob Childersmith ⭐ Eve Carletti ⭐
            Alejandro Cholaquidis ⭐ Alistair Bain ⭐ Christian Gmeiner ⭐
            Gernot Schiller ⭐ Florian Dazinger ⭐ Ryan Chambers ⭐ Paxriel Pax
            ⭐ Daniel Noga ⭐ Andre Ramnitz ⭐ Kormos Krisztián ⭐ Philipp
            Reichmuth ⭐ Nikolai Eugen Sandvik ⭐ Bob Richter ⭐ Anael González
            Paz ⭐ Jonas Gamao ⭐ José Guardado ⭐ John McKinney ⭐ Daan
            Boerlage ⭐ Allen Hazen ⭐ Jens Churchill ⭐ Petronio Coelho ⭐
            Nicholas Harper ⭐ Yann Nux ⭐ Moritz Niesen ⭐ Daniel Zalar ⭐ ali
            xyz ⭐ Teague Millette ⭐ Fred Dickens ⭐ E. Mau. ⭐ Justin Geigley
            ⭐ Björn Bauer ⭐ Marijo Mustač ⭐ Dennis Zellner ⭐ Mehrad
            Mahmoudian ⭐ Sacha Schutz ⭐ Leif-Jöran Olsson ⭐ Harald Gall ⭐
            Teemu Vartiainen ⭐ Jacopo Schiavon ⭐ Dirk Holsopple ⭐ Rodney
            Lorimor ⭐ Steven Barrett ⭐ Àlex Magaz Graça ⭐ Simon Berz ⭐
            Christian Strebel ⭐ Johannes Wolf ⭐ Berker Şal ⭐ R.A. Bijl ⭐
            Kristian Kriehl ⭐ Nina Wanca ⭐ Byron Fröhlich ⭐ Laust Lund
            Kristensen ⭐ Dave X ⭐ Florian Dittmer ⭐ Benny Fields ⭐ Francesco
            Sardara ⭐ Sander Smid-Merlijn ⭐ Dmitry Sobolev ⭐ Michel van Son
            ⭐ Martin Bednar ⭐ Paul McAuley ⭐ Matheus Ferreira Messias Guedes
            ⭐ Christopher Clarke ⭐ Iain Cuthbertson ⭐ Joshua Phelps ⭐
            Steffen Jasper ⭐ Klaus Wagner ⭐ Benjamin Terrier ⭐ Marcin
            Mikołajczak ⭐ Ethan Li ⭐ Petr Kadlec ⭐ Angelos Skembris ⭐ Björn
            Aili ⭐ Tone Milazzo ⭐ Peter Permenter ⭐ Sebastian Turzanski ⭐
            Étienne Pain ⭐ Ramón Cahenzli ⭐ Mohammad Rawashdeh ⭐ Amritpal
            Gill ⭐ Jed Baldwin ⭐ Erik Naprstek ⭐ Robert Wolniak ⭐ Achim
            Königs ⭐ Kim Hayo ⭐ Gregor Burgeff ⭐ Aleksei Liudskoi ⭐ Michael
            Winters ⭐ Frank Mankel
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
