<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-17.12.1.tar.xz">akonadi-17.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>72008d0653f6d0eed5f8b93bc8b5ee99396a8cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-calendar-17.12.1.tar.xz">akonadi-calendar-17.12.1</a></td>
   <td align="right">273kB</td>
   <td><tt>15cc246a696d2b2c448ace950c2ed71768fb974a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-calendar-tools-17.12.1.tar.xz">akonadi-calendar-tools-17.12.1</a></td>
   <td align="right">219kB</td>
   <td><tt>7c391f851407baa37d8508fb31b571fc348d1c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadiconsole-17.12.1.tar.xz">akonadiconsole-17.12.1</a></td>
   <td align="right">181kB</td>
   <td><tt>8f2b3362553655d9e9a3ee0ff0601dfd07596d2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-contacts-17.12.1.tar.xz">akonadi-contacts-17.12.1</a></td>
   <td align="right">336kB</td>
   <td><tt>d2d07d73bc424f561105c337fdb9c705666b3579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-import-wizard-17.12.1.tar.xz">akonadi-import-wizard-17.12.1</a></td>
   <td align="right">426kB</td>
   <td><tt>cd72e2d380fdf60e3b04b1b30ae51babd05b3f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-mime-17.12.1.tar.xz">akonadi-mime-17.12.1</a></td>
   <td align="right">127kB</td>
   <td><tt>99cc55a9923922975bfed7ba971b2ec66b337bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-notes-17.12.1.tar.xz">akonadi-notes-17.12.1</a></td>
   <td align="right">23kB</td>
   <td><tt>be244a732b1cdc5c581a6a05ac984b9ab34294de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akonadi-search-17.12.1.tar.xz">akonadi-search-17.12.1</a></td>
   <td align="right">79kB</td>
   <td><tt>53bba0ba977b61d5533b109060b4812d5fc13a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/akregator-17.12.1.tar.xz">akregator-17.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2db615e6678ab7036d9a5b56940e4f16b26ad3c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/analitza-17.12.1.tar.xz">analitza-17.12.1</a></td>
   <td align="right">323kB</td>
   <td><tt>c0f7c4997d4af488d7bea95b0e5c454f87005c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ark-17.12.1.tar.xz">ark-17.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3bc6cf9fc6d2cf1cf5515f4a75ef59c22ea0649b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/artikulate-17.12.1.tar.xz">artikulate-17.12.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>acfee5d4a7054d65832317f1b42ba45ced48648d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/audiocd-kio-17.12.1.tar.xz">audiocd-kio-17.12.1</a></td>
   <td align="right">241kB</td>
   <td><tt>576d33ec98ca5d82e38b3abbf454cc1cd4ae3474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/baloo-widgets-17.12.1.tar.xz">baloo-widgets-17.12.1</a></td>
   <td align="right">148kB</td>
   <td><tt>d0d2d42185249ce61a58b33acc65c735f796922c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/blinken-17.12.1.tar.xz">blinken-17.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4f70add19b8ad731bb9d61d30374d153fc216c07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/bomber-17.12.1.tar.xz">bomber-17.12.1</a></td>
   <td align="right">736kB</td>
   <td><tt>0403976e0b39daf5c9d3182d027ffce25deb2a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/bovo-17.12.1.tar.xz">bovo-17.12.1</a></td>
   <td align="right">182kB</td>
   <td><tt>acb318327fd585c14e467c84d8373c9e0682b903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/calendarsupport-17.12.1.tar.xz">calendarsupport-17.12.1</a></td>
   <td align="right">629kB</td>
   <td><tt>ac13508091503c894097aa2036762a54a17c47e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/cantor-17.12.1.tar.xz">cantor-17.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>05428739d10c70122505d0e3cce0ff46771f4dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/cervisia-17.12.1.tar.xz">cervisia-17.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a5bdbd60d2aedfcb1e62bda955f30a103ba928de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/dolphin-17.12.1.tar.xz">dolphin-17.12.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>02200a2a67fb25f84154c4f9c7d214f406f7555b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/dolphin-plugins-17.12.1.tar.xz">dolphin-plugins-17.12.1</a></td>
   <td align="right">182kB</td>
   <td><tt>fd15f53744c6edde068ec40e82f11c73c229b970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/dragon-17.12.1.tar.xz">dragon-17.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6b0a02228a8d32fcdb238e543d7bc86b08d34b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/eventviews-17.12.1.tar.xz">eventviews-17.12.1</a></td>
   <td align="right">428kB</td>
   <td><tt>4c1c2688be441d9e36ead54fafca7bdbbbcbc5d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ffmpegthumbs-17.12.1.tar.xz">ffmpegthumbs-17.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>7c236d63fcd3c019a37b8ff3a3497003684d1acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/filelight-17.12.1.tar.xz">filelight-17.12.1</a></td>
   <td align="right">639kB</td>
   <td><tt>7f43aad4f8392fc1b7b63b04800f716b01a2dfb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/granatier-17.12.1.tar.xz">granatier-17.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>546c3d36c195f1c81eaca0a2dd8baeaf7d386509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/grantlee-editor-17.12.1.tar.xz">grantlee-editor-17.12.1</a></td>
   <td align="right">107kB</td>
   <td><tt>938a3670febdd5458fec01fc6e45afef5769a4e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/grantleetheme-17.12.1.tar.xz">grantleetheme-17.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>6102c1dacc0b4523249cc53ff5606f2a9dfff2f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/gwenview-17.12.1.tar.xz">gwenview-17.12.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>ffecd0f856bab085a9bedc99e3ddaabd502db294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/incidenceeditor-17.12.1.tar.xz">incidenceeditor-17.12.1</a></td>
   <td align="right">506kB</td>
   <td><tt>3c8e9cadf543314fdba8445fdf720e37bb2de0eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/juk-17.12.1.tar.xz">juk-17.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1f37854a5ec14e32b913dbd3f018b34208393dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/k3b-17.12.1.tar.xz">k3b-17.12.1</a></td>
   <td align="right">10MB</td>
   <td><tt>c14e5fd86f10c974658ba9310e4a1e8f52498798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kaccounts-integration-17.12.1.tar.xz">kaccounts-integration-17.12.1</a></td>
   <td align="right">69kB</td>
   <td><tt>a9f3c2d314aaa8a90583ee1e62554bc5f16f352c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kaccounts-providers-17.12.1.tar.xz">kaccounts-providers-17.12.1</a></td>
   <td align="right">31kB</td>
   <td><tt>98e3802d31eeef3118be7d32e71d7efcb00a6b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kaddressbook-17.12.1.tar.xz">kaddressbook-17.12.1</a></td>
   <td align="right">534kB</td>
   <td><tt>ec05079b87a3c4ecc3b09dfe7eb8d436892add7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kajongg-17.12.1.tar.xz">kajongg-17.12.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>85ffb5638ad922dcbdd4464f20f970291e963a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kalarm-17.12.1.tar.xz">kalarm-17.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2932272656dfb300ab00d442b86d20236d393d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kalarmcal-17.12.1.tar.xz">kalarmcal-17.12.1</a></td>
   <td align="right">483kB</td>
   <td><tt>dcba6bd24193e5a387b4edfb826d7a54159a115f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kalgebra-17.12.1.tar.xz">kalgebra-17.12.1</a></td>
   <td align="right">674kB</td>
   <td><tt>b86523489fa7b943bc15de3a91d56b80cebe9f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kalzium-17.12.1.tar.xz">kalzium-17.12.1</a></td>
   <td align="right">23MB</td>
   <td><tt>f9171e2f85a507fe3c06e08026b50198f2c58f6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kamera-17.12.1.tar.xz">kamera-17.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>13e0553b2e3ab0b72b1cd873044787334cc6219c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kanagram-17.12.1.tar.xz">kanagram-17.12.1</a></td>
   <td align="right">7.1MB</td>
   <td><tt>399063842cc2dde02cac92be8cc9337d0b531ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kapman-17.12.1.tar.xz">kapman-17.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>983e4e0ab63dfb1e862e3f83f555b579a77409a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kapptemplate-17.12.1.tar.xz">kapptemplate-17.12.1</a></td>
   <td align="right">344kB</td>
   <td><tt>cb022c879ba179b04547bb887155aa22078ec980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kate-17.12.1.tar.xz">kate-17.12.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>4a597204209cc8f09658cda299afe023cac55119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/katomic-17.12.1.tar.xz">katomic-17.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ee739ab68963521c327d80b063dd3dc45e6f5588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kblackbox-17.12.1.tar.xz">kblackbox-17.12.1</a></td>
   <td align="right">392kB</td>
   <td><tt>a5d312ead9f9ae048ca3a1ae1f4b24b1be7c58f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kblocks-17.12.1.tar.xz">kblocks-17.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d86467160a6087fe89fdb75442944f4e32af3303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kblog-17.12.1.tar.xz">kblog-17.12.1</a></td>
   <td align="right">70kB</td>
   <td><tt>eefb7edb39d16d549fd041671d8e13b04cbe67b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kbounce-17.12.1.tar.xz">kbounce-17.12.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>296c87f9680466612dc5c6460ac18c609c9bd473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kbreakout-17.12.1.tar.xz">kbreakout-17.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>523543aa904d12c7dda13efda5ac66a3d535fd34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kbruch-17.12.1.tar.xz">kbruch-17.12.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>cfba83011d92f143431e109d5fb6ba4da6e05989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcachegrind-17.12.1.tar.xz">kcachegrind-17.12.1</a></td>
   <td align="right">794kB</td>
   <td><tt>f34df14e601cfeecbee1dede4b7be7111d989d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcalc-17.12.1.tar.xz">kcalc-17.12.1</a></td>
   <td align="right">351kB</td>
   <td><tt>6ccc19cfaacbca16904c04f69a8c9f6b683ef9b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcalcore-17.12.1.tar.xz">kcalcore-17.12.1</a></td>
   <td align="right">272kB</td>
   <td><tt>964e8bc4ed8709935b44d302e317db21edd67733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcalutils-17.12.1.tar.xz">kcalutils-17.12.1</a></td>
   <td align="right">318kB</td>
   <td><tt>7a8593f17229fe4dcd58ea9d92bc26d0babebc5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcharselect-17.12.1.tar.xz">kcharselect-17.12.1</a></td>
   <td align="right">342kB</td>
   <td><tt>df2abf367c0a7725500c95e1ee99e3b6d5c0ad01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcolorchooser-17.12.1.tar.xz">kcolorchooser-17.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>cffbff03263bab4f0cd97e92649e0bd3b3837b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcontacts-17.12.1.tar.xz">kcontacts-17.12.1</a></td>
   <td align="right">202kB</td>
   <td><tt>1dde05ce71e72b2cfd9e6d6eef42d9828846deda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kcron-17.12.1.tar.xz">kcron-17.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>90a6e2e241094b9a895790ce7fbd16f15d277db7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdav-17.12.1.tar.xz">kdav-17.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>cc5d85c88407402d6a61fee2d24496d560c2e6fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdebugsettings-17.12.1.tar.xz">kdebugsettings-17.12.1</a></td>
   <td align="right">47kB</td>
   <td><tt>43c27f86eda362a41d759440bef2b91449c0ae54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kde-dev-scripts-17.12.1.tar.xz">kde-dev-scripts-17.12.1</a></td>
   <td align="right">367kB</td>
   <td><tt>1049fd117142856d80d7dab8ffc4872ac1f4aeaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kde-dev-utils-17.12.1.tar.xz">kde-dev-utils-17.12.1</a></td>
   <td align="right">59kB</td>
   <td><tt>de7e17c8dca38b6fb7eed1ac49eae551946b8b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdeedu-data-17.12.1.tar.xz">kdeedu-data-17.12.1</a></td>
   <td align="right">319kB</td>
   <td><tt>b0933ef1b090b1be1776cc76275b1d17e3884bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdegraphics-mobipocket-17.12.1.tar.xz">kdegraphics-mobipocket-17.12.1</a></td>
   <td align="right">13kB</td>
   <td><tt>bb74dd5d3219a5b158a5735255f3b96f89886abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdegraphics-thumbnailers-17.12.1.tar.xz">kdegraphics-thumbnailers-17.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>f4b81fd7afe93b6f5359b5b9a9f232687634f7c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdenetwork-filesharing-17.12.1.tar.xz">kdenetwork-filesharing-17.12.1</a></td>
   <td align="right">315kB</td>
   <td><tt>929335dadb8a36559eaff4364bb37f3c633da947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdenlive-17.12.1.tar.xz">kdenlive-17.12.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>975afbc595f87cbea4a5700aa2c8aca577e78e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdepim-addons-17.12.1.tar.xz">kdepim-addons-17.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>18a5a23315f43a350d3366f1884f6ce67452a8d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdepim-apps-libs-17.12.1.tar.xz">kdepim-apps-libs-17.12.1</a></td>
   <td align="right">71kB</td>
   <td><tt>42b867379e6b18995315504de12a453eb8800da3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdepim-runtime-17.12.1.tar.xz">kdepim-runtime-17.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e55ad49cf14ad1e3beeba6c3af07a0e027d5b1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdesdk-kioslaves-17.12.1.tar.xz">kdesdk-kioslaves-17.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>13b9eae71f50f490d317941f72487da7d7e4f83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdesdk-thumbnailers-17.12.1.tar.xz">kdesdk-thumbnailers-17.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>f260d65030b9568417da6366194a96d5f81d9b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdf-17.12.1.tar.xz">kdf-17.12.1</a></td>
   <td align="right">518kB</td>
   <td><tt>2d3cc497a88077291ee3fe38afb28038ea3928dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdialog-17.12.1.tar.xz">kdialog-17.12.1</a></td>
   <td align="right">93kB</td>
   <td><tt>94eed5391b730f1eb2f80e2ad3eba20dc66d8910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kdiamond-17.12.1.tar.xz">kdiamond-17.12.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>717455c5194850676c29aa3365a68eb71dad934a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/keditbookmarks-17.12.1.tar.xz">keditbookmarks-17.12.1</a></td>
   <td align="right">179kB</td>
   <td><tt>662ebfd45723a0e6ac6305923b2590811c1da559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kfind-17.12.1.tar.xz">kfind-17.12.1</a></td>
   <td align="right">204kB</td>
   <td><tt>4de498d65485d1fecb416c9b364dc8aa2800e093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kfloppy-17.12.1.tar.xz">kfloppy-17.12.1</a></td>
   <td align="right">194kB</td>
   <td><tt>63d476abd31f38d09cf123a55a882aaae64ad0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kfourinline-17.12.1.tar.xz">kfourinline-17.12.1</a></td>
   <td align="right">559kB</td>
   <td><tt>69fc71f70ca78a3daa21a859b985220bf7dfc013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kgeography-17.12.1.tar.xz">kgeography-17.12.1</a></td>
   <td align="right">10MB</td>
   <td><tt>f55588f2f1ad79b1e2a062799acb2bcdbca4494a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kget-17.12.1.tar.xz">kget-17.12.1</a></td>
   <td align="right">5.1MB</td>
   <td><tt>41e57399219a49c52a00511ca43f153b634a7684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kgoldrunner-17.12.1.tar.xz">kgoldrunner-17.12.1</a></td>
   <td align="right">4.1MB</td>
   <td><tt>dd11eb7e56109007edfcaa5662a24276a19f0ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kgpg-17.12.1.tar.xz">kgpg-17.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bb7134be5ecb32cbfe385cc111338a24d8f4ccd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/khangman-17.12.1.tar.xz">khangman-17.12.1</a></td>
   <td align="right">6.1MB</td>
   <td><tt>cb868436480ce2694cfdf6de0a95747b56f95094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/khelpcenter-17.12.1.tar.xz">khelpcenter-17.12.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3f5200c50e215b12846c040012c02bdf0586b4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kholidays-17.12.1.tar.xz">kholidays-17.12.1</a></td>
   <td align="right">197kB</td>
   <td><tt>152d5def1661f302f0541313d7099d88a5d5a7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kidentitymanagement-17.12.1.tar.xz">kidentitymanagement-17.12.1</a></td>
   <td align="right">144kB</td>
   <td><tt>fa816b7f496f04079117d28fff9cdb8a4b9c7ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kig-17.12.1.tar.xz">kig-17.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>0e1716dd0322cf3cc72610350851f87ca5fbb2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kigo-17.12.1.tar.xz">kigo-17.12.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>0ffe9fe33bb8416b9521db90a2eee59d81b94011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/killbots-17.12.1.tar.xz">killbots-17.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b6404948ffdbcf7a6900ba63f899b1026d18d5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kimagemapeditor-17.12.1.tar.xz">kimagemapeditor-17.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>381e1293014d99b99c961d0d229df6583c5557f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kimap-17.12.1.tar.xz">kimap-17.12.1</a></td>
   <td align="right">116kB</td>
   <td><tt>761ab053f61e124e48cf49df989f4e2f5832ea9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kio-extras-17.12.1.tar.xz">kio-extras-17.12.1</a></td>
   <td align="right">543kB</td>
   <td><tt>2816fc900f966ab2a4633142ce663d270286ece5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kiriki-17.12.1.tar.xz">kiriki-17.12.1</a></td>
   <td align="right">318kB</td>
   <td><tt>1c930e7b9401e496b5d4a4b9e44944159338fa1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kiten-17.12.1.tar.xz">kiten-17.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>baeeb83502186bd7786ee21015a61576c1abc310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kjumpingcube-17.12.1.tar.xz">kjumpingcube-17.12.1</a></td>
   <td align="right">286kB</td>
   <td><tt>4b728dd5da7779e6d4294cad7fb2ec2a37ab5c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kldap-17.12.1.tar.xz">kldap-17.12.1</a></td>
   <td align="right">151kB</td>
   <td><tt>ba81cb151bc6af486a584aafdcbc94d9aa31bf0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kleopatra-17.12.1.tar.xz">kleopatra-17.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c2d2f800291a92e227fdc34a7ddfaaf7e39d5386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/klettres-17.12.1.tar.xz">klettres-17.12.1</a></td>
   <td align="right">20MB</td>
   <td><tt>4e5c50878d595b88ab3c342507adec215b2f2d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/klickety-17.12.1.tar.xz">klickety-17.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>69e76d375147ff79e35ea386320d3ad7cfc349a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/klines-17.12.1.tar.xz">klines-17.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>93737ca7d4c243cc392ef67e46380e3b07f1adef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmag-17.12.1.tar.xz">kmag-17.12.1</a></td>
   <td align="right">574kB</td>
   <td><tt>d5a0ce92de7af1cf0dcf15726e23e162d83f2944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmahjongg-17.12.1.tar.xz">kmahjongg-17.12.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>9209049f6223231d2eae2ec9712c872a06802b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmail-17.12.1.tar.xz">kmail-17.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>2a0b0af529c750766a326fd11bf8883629eae336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmail-account-wizard-17.12.1.tar.xz">kmail-account-wizard-17.12.1</a></td>
   <td align="right">148kB</td>
   <td><tt>044cba92a31793f683ff7d5f21d105c9bb39b54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmailtransport-17.12.1.tar.xz">kmailtransport-17.12.1</a></td>
   <td align="right">161kB</td>
   <td><tt>b1cd0784ec3d37cacd88760d91f8869f9acd807f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmbox-17.12.1.tar.xz">kmbox-17.12.1</a></td>
   <td align="right">23kB</td>
   <td><tt>abf69b532c6fdeaae5b4862200cc559daca53f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmime-17.12.1.tar.xz">kmime-17.12.1</a></td>
   <td align="right">143kB</td>
   <td><tt>15cc7bc29d99842efd934a21bbf0e7e85e16b352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmines-17.12.1.tar.xz">kmines-17.12.1</a></td>
   <td align="right">861kB</td>
   <td><tt>7049335d6e1a16ec291b30f87058aab5c3fa3802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmix-17.12.1.tar.xz">kmix-17.12.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1dd409ff1a11525e3dd065640cd21a50399b10ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmousetool-17.12.1.tar.xz">kmousetool-17.12.1</a></td>
   <td align="right">108kB</td>
   <td><tt>c1bc35c3d9c5aaad5a7d0f871ecd1697c94b785c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmouth-17.12.1.tar.xz">kmouth-17.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a0b0a0f5f7fa1d6399b285349c12dd2a288eb650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kmplot-17.12.1.tar.xz">kmplot-17.12.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>47e5d7ef9e30b175a0b1829b262f8979c635d89c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/knavalbattle-17.12.1.tar.xz">knavalbattle-17.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bdc87528901233e65f3af6f99e501b8a40d1676c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/knetwalk-17.12.1.tar.xz">knetwalk-17.12.1</a></td>
   <td align="right">958kB</td>
   <td><tt>f052571157c8572ada61339f7d34e9676f7283d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/knotes-17.12.1.tar.xz">knotes-17.12.1</a></td>
   <td align="right">328kB</td>
   <td><tt>77fa41668876aa0e2a860709e647e1a20d9e5d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kolf-17.12.1.tar.xz">kolf-17.12.1</a></td>
   <td align="right">903kB</td>
   <td><tt>b50eed44a3703849e7c2b886b373fa0d10a91d22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kollision-17.12.1.tar.xz">kollision-17.12.1</a></td>
   <td align="right">265kB</td>
   <td><tt>e65620566ef959e0a9b0a0a6727e4d035fa71970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kolourpaint-17.12.1.tar.xz">kolourpaint-17.12.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>62d242e2a9a21d02660c4f86190ac89213d91b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kompare-17.12.1.tar.xz">kompare-17.12.1</a></td>
   <td align="right">695kB</td>
   <td><tt>0cf17f9957991435d5fe57d5ad4276ac757c47f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/konqueror-17.12.1.tar.xz">konqueror-17.12.1</a></td>
   <td align="right">7.3MB</td>
   <td><tt>28a0b4cd2c7d9dcfb6d089ea9b9db94d9a48cc47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/konquest-17.12.1.tar.xz">konquest-17.12.1</a></td>
   <td align="right">642kB</td>
   <td><tt>c2bae52cb5050fcfecacc79928796264bb3b868a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/konsole-17.12.1.tar.xz">konsole-17.12.1</a></td>
   <td align="right">1002kB</td>
   <td><tt>a24a63a6c2ca23eba039c932086082bbc11539d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kontact-17.12.1.tar.xz">kontact-17.12.1</a></td>
   <td align="right">845kB</td>
   <td><tt>5577af7355243b80fb46d7cab16775d88bc55a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kontactinterface-17.12.1.tar.xz">kontactinterface-17.12.1</a></td>
   <td align="right">32kB</td>
   <td><tt>5d6065d484739bd30e2be8f2c23a65fca397c4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/korganizer-17.12.1.tar.xz">korganizer-17.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>09dce5e4f4d9d706f2ba483ba54467bc0136932b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kpat-17.12.1.tar.xz">kpat-17.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>2912590b3d8b94c252b5bd54b92d9925eeeaad86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kpimtextedit-17.12.1.tar.xz">kpimtextedit-17.12.1</a></td>
   <td align="right">137kB</td>
   <td><tt>4782b7a570a2a197f801cb7ca80677053fe00855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kqtquickcharts-17.12.1.tar.xz">kqtquickcharts-17.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>a5bd60976ff16c2417add23ddfbe945aa487acbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/krdc-17.12.1.tar.xz">krdc-17.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e476cc165a4aba614b31e3446c43a6dfb4ed3061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kreversi-17.12.1.tar.xz">kreversi-17.12.1</a></td>
   <td align="right">890kB</td>
   <td><tt>cea27f28dd8b97fc525be8f3e35f7594dafc8192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/krfb-17.12.1.tar.xz">krfb-17.12.1</a></td>
   <td align="right">973kB</td>
   <td><tt>bbe36a3a8511abb7b7916cfc44cadc81ce93912d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kross-interpreters-17.12.1.tar.xz">kross-interpreters-17.12.1</a></td>
   <td align="right">141kB</td>
   <td><tt>6fbe3da40a71fbaea1d686c803ba424d387dd2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kruler-17.12.1.tar.xz">kruler-17.12.1</a></td>
   <td align="right">253kB</td>
   <td><tt>0b6f13b70e5a434cfabd0a304725e573b9bafa0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kshisen-17.12.1.tar.xz">kshisen-17.12.1</a></td>
   <td align="right">692kB</td>
   <td><tt>301559d5dde7348966e3bd5b272029566f4087c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ksirk-17.12.1.tar.xz">ksirk-17.12.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>9c36cf2351b50e367f3ca15c962bb27528cf4e29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ksmtp-17.12.1.tar.xz">ksmtp-17.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>f9bd49c92759e511f5a45a69c9b474f9002db87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ksnakeduel-17.12.1.tar.xz">ksnakeduel-17.12.1</a></td>
   <td align="right">591kB</td>
   <td><tt>ac5db8b3d631d15108abf3ad40d5ba11aa04d579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kspaceduel-17.12.1.tar.xz">kspaceduel-17.12.1</a></td>
   <td align="right">595kB</td>
   <td><tt>597890e8ec3e0f0b78ae56d1faf21fef41901981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ksquares-17.12.1.tar.xz">ksquares-17.12.1</a></td>
   <td align="right">210kB</td>
   <td><tt>bebb40823126aae5e6cd7b2d8d02b23dd4b4f0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ksudoku-17.12.1.tar.xz">ksudoku-17.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>91c279d444e4205e1c565baf967415ab27a4da04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ksystemlog-17.12.1.tar.xz">ksystemlog-17.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>720003ba14fdf2a62d0b0c8003954306bf182a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kteatime-17.12.1.tar.xz">kteatime-17.12.1</a></td>
   <td align="right">290kB</td>
   <td><tt>dbea055e5b6682838a2d86aab4c8b74ea50acaa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktimer-17.12.1.tar.xz">ktimer-17.12.1</a></td>
   <td align="right">441kB</td>
   <td><tt>5f9636524097372dc326e3be3bab8692e244158d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktnef-17.12.1.tar.xz">ktnef-17.12.1</a></td>
   <td align="right">292kB</td>
   <td><tt>f078f84e29de18b05c79d19a5ed41d9997242ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktouch-17.12.1.tar.xz">ktouch-17.12.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>1cb0220f6bd0aa1888f3f5fce9b1150338558f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-accounts-kcm-17.12.1.tar.xz">ktp-accounts-kcm-17.12.1</a></td>
   <td align="right">256kB</td>
   <td><tt>a32065b72cf9d85d04f9f71d3c9791b94c7e8dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-approver-17.12.1.tar.xz">ktp-approver-17.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>fd6c9e5c5ac1b0231b36714dac9d590718706087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-auth-handler-17.12.1.tar.xz">ktp-auth-handler-17.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>996513afcaf3552950eb421edc0f4f325ae364dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-call-ui-17.12.1.tar.xz">ktp-call-ui-17.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>969a26b3538ac52a122106995479f26ae6d3a32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-common-internals-17.12.1.tar.xz">ktp-common-internals-17.12.1</a></td>
   <td align="right">431kB</td>
   <td><tt>b7e97b40ef26683bb72d9165d74cc8e0205a70be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-contact-list-17.12.1.tar.xz">ktp-contact-list-17.12.1</a></td>
   <td align="right">128kB</td>
   <td><tt>255f3b067413b3bf946800a5f5c1aebe4d9d558b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-contact-runner-17.12.1.tar.xz">ktp-contact-runner-17.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>b3648720ef26f29a97768d4ec12377bce003b0f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-desktop-applets-17.12.1.tar.xz">ktp-desktop-applets-17.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>1896164649e576b67360947df3d95854c4252490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-filetransfer-handler-17.12.1.tar.xz">ktp-filetransfer-handler-17.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>b5f5c903fe226e6066e1d6c05ccecd136cdd658a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-kded-module-17.12.1.tar.xz">ktp-kded-module-17.12.1</a></td>
   <td align="right">79kB</td>
   <td><tt>0b3d8f8ea7aefffafd10f7882d5f954bf939d48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-send-file-17.12.1.tar.xz">ktp-send-file-17.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>f9f75056bbe574b941789fcd931d2c1991f64225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktp-text-ui-17.12.1.tar.xz">ktp-text-ui-17.12.1</a></td>
   <td align="right">457kB</td>
   <td><tt>077067b316556667f47db5a86c303c204487918a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/ktuberling-17.12.1.tar.xz">ktuberling-17.12.1</a></td>
   <td align="right">31MB</td>
   <td><tt>ad2378bd785343b0b7a6bfb82c1af7c677ee1a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kturtle-17.12.1.tar.xz">kturtle-17.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f2b86715f3690416a5669155fa2daba2644a3b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kubrick-17.12.1.tar.xz">kubrick-17.12.1</a></td>
   <td align="right">299kB</td>
   <td><tt>11b003da39946265b227aaceaae931726945375a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kwalletmanager-17.12.1.tar.xz">kwalletmanager-17.12.1</a></td>
   <td align="right">760kB</td>
   <td><tt>0727c5a416f1af2e8d03938f6edd09e7034d6ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kwave-17.12.1.tar.xz">kwave-17.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>148686cf56e9a07cc86a44f97c7d4f5bff92d860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/kwordquiz-17.12.1.tar.xz">kwordquiz-17.12.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>893be4c0ed20215120d4115cb19bb655c73bc361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libgravatar-17.12.1.tar.xz">libgravatar-17.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>cc621ca24b3887e1223c7fc20e7d470caad7551d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkcddb-17.12.1.tar.xz">libkcddb-17.12.1</a></td>
   <td align="right">414kB</td>
   <td><tt>b18d681d592f4c9d69a83d276c364afdb5bad32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkcompactdisc-17.12.1.tar.xz">libkcompactdisc-17.12.1</a></td>
   <td align="right">86kB</td>
   <td><tt>d617813ad3d90bfbd324bfbf8a45e26d9c2e26b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkdcraw-17.12.1.tar.xz">libkdcraw-17.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>0f9520e1b2486d10f7905148c7b64f4e185d951c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkdegames-17.12.1.tar.xz">libkdegames-17.12.1</a></td>
   <td align="right">5.6MB</td>
   <td><tt>ee1f502a83d4e9dadf7ea2f1cda66d409b419087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkdepim-17.12.1.tar.xz">libkdepim-17.12.1</a></td>
   <td align="right">331kB</td>
   <td><tt>9aab333c2d03c6f9af8b5a3ec327e8dcf49aed45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkeduvocdocument-17.12.1.tar.xz">libkeduvocdocument-17.12.1</a></td>
   <td align="right">204kB</td>
   <td><tt>891bae35cd91c6e704da8c55b737cab08406c0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkexiv2-17.12.1.tar.xz">libkexiv2-17.12.1</a></td>
   <td align="right">62kB</td>
   <td><tt>9755024f88e2767a61f92d61870154461abd5b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkgapi-17.12.1.tar.xz">libkgapi-17.12.1</a></td>
   <td align="right">171kB</td>
   <td><tt>d8e8176b7f38170874a042a3dea119784edece8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkgeomap-17.12.1.tar.xz">libkgeomap-17.12.1</a></td>
   <td align="right">146kB</td>
   <td><tt>3add59f0abe0c7b9a6ab67ddea726273d687142d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkipi-17.12.1.tar.xz">libkipi-17.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>591bfc065522518c971ce58cc466469c9eb2f4a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkleo-17.12.1.tar.xz">libkleo-17.12.1</a></td>
   <td align="right">308kB</td>
   <td><tt>a932e94a388669a7c007f0dede87244e3dec36e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkmahjongg-17.12.1.tar.xz">libkmahjongg-17.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2f105167cfd54ff38f31962e2ed1419a951ce2fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libkomparediff2-17.12.1.tar.xz">libkomparediff2-17.12.1</a></td>
   <td align="right">172kB</td>
   <td><tt>91b06592b54eef68e81bbb7306319cdcee428062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libksane-17.12.1.tar.xz">libksane-17.12.1</a></td>
   <td align="right">133kB</td>
   <td><tt>4da462ecbe9ed233745446b4db1df9ac3d3ca7b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/libksieve-17.12.1.tar.xz">libksieve-17.12.1</a></td>
   <td align="right">535kB</td>
   <td><tt>199b8c8774ede4e87cbcb3ab475bebb4e85909b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/lokalize-17.12.1.tar.xz">lokalize-17.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>976beaf610844c383841b863b594547eb546611b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/lskat-17.12.1.tar.xz">lskat-17.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>66a8afc497bae1a27c2b98b7f7145802dbea2e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/mailcommon-17.12.1.tar.xz">mailcommon-17.12.1</a></td>
   <td align="right">669kB</td>
   <td><tt>b7dec21568a0f3aa84af6fbd6c71e35926027dc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/mailimporter-17.12.1.tar.xz">mailimporter-17.12.1</a></td>
   <td align="right">528kB</td>
   <td><tt>7748cd12d2d528a66d78568d1f3e1bf1b46d457b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/marble-17.12.1.tar.xz">marble-17.12.1</a></td>
   <td align="right">49MB</td>
   <td><tt>de7c838970ec1b2912bc5c4640f2090e05e966d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/mbox-importer-17.12.1.tar.xz">mbox-importer-17.12.1</a></td>
   <td align="right">32kB</td>
   <td><tt>095f9a5b8c1003adb96e56d85f3e70dc15898b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/messagelib-17.12.1.tar.xz">messagelib-17.12.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>2d01ab7c307cb12486ab1ada260d3975c131b6e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/minuet-17.12.1.tar.xz">minuet-17.12.1</a></td>
   <td align="right">26MB</td>
   <td><tt>7c2835fae992de12abf727d2a54e856068efda62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/okteta-17.12.1.tar.xz">okteta-17.12.1</a></td>
   <td align="right">940kB</td>
   <td><tt>649edb53c8a64432616a272c71fea00f9ea8283c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/okular-17.12.1.tar.xz">okular-17.12.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>8eddb59efa630e859471ce4c775a725a54073048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/palapeli-17.12.1.tar.xz">palapeli-17.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a81e9ded7d3be66287efe1bc516c4044bd233bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/parley-17.12.1.tar.xz">parley-17.12.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>ee2bbd12b4ddbdaa78146e9179f799c1576b2dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/picmi-17.12.1.tar.xz">picmi-17.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2a6309f2f1bb0767da7acff27c3e9ab591c7cfc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/pimcommon-17.12.1.tar.xz">pimcommon-17.12.1</a></td>
   <td align="right">282kB</td>
   <td><tt>2c629c2a4eebda99e9ede6ef863693b8b8ced2bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/pim-data-exporter-17.12.1.tar.xz">pim-data-exporter-17.12.1</a></td>
   <td align="right">261kB</td>
   <td><tt>b290923c586f84bf05f5d110743fccd7bcf15201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/pim-sieve-editor-17.12.1.tar.xz">pim-sieve-editor-17.12.1</a></td>
   <td align="right">434kB</td>
   <td><tt>184d7272ab19b7419fbecbdcb63e270e167c2368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/poxml-17.12.1.tar.xz">poxml-17.12.1</a></td>
   <td align="right">41kB</td>
   <td><tt>33d41f11c430d49793eaf8b3a4dedfa94adbd090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/print-manager-17.12.1.tar.xz">print-manager-17.12.1</a></td>
   <td align="right">231kB</td>
   <td><tt>ffef0bfce8c5b8e1b7a4aa95bd8655ae7617967e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/rocs-17.12.1.tar.xz">rocs-17.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>98aa816ea8e18f431714808523d146466f65cf24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/signon-kwallet-extension-17.12.1.tar.xz">signon-kwallet-extension-17.12.1</a></td>
   <td align="right">10kB</td>
   <td><tt>72e1e0a40dcf598c4c553348cc8771ed5603248f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/spectacle-17.12.1.tar.xz">spectacle-17.12.1</a></td>
   <td align="right">748kB</td>
   <td><tt>7046575bcfc396438ea230cff3b575f9c9705b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/step-17.12.1.tar.xz">step-17.12.1</a></td>
   <td align="right">842kB</td>
   <td><tt>99932d6ea7d8279d15d87bedb875d0915bca28a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/svgpart-17.12.1.tar.xz">svgpart-17.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>25c27eade052ef2e8d9661451299e41fd680eb94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/sweeper-17.12.1.tar.xz">sweeper-17.12.1</a></td>
   <td align="right">373kB</td>
   <td><tt>56a4e21bab76364135893fb08d8e15104e77ecff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/syndication-17.12.1.tar.xz">syndication-17.12.1</a></td>
   <td align="right">156kB</td>
   <td><tt>52ca8516f05ed46c55697449da6b7081c207c423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/umbrello-17.12.1.tar.xz">umbrello-17.12.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>14780ea42f3c39875fa1b9fdc4d640d35948f999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.1/src/zeroconf-ioslave-17.12.1.tar.xz">zeroconf-ioslave-17.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>395b4ea7f1b2619f26e140cab576ad435ef461bb</tt></td>
</tr>

</table>
