{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/gear.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{- $version := .File.TranslationBaseName }}
{{- $patch := index (split $version ".") 2 | int }}
{{- $isBugfix := ne $patch 0 }}
{{- $image := "" }}
{{- $noContainer := .Params.noContainer }}
{{- if not $isBugfix }}
  {{- with .Params.hero_image }}
  {{- $image = printf "/announcements/gear/%s/%s" $version . }}
  {{- end }}
{{- else }}
  {{- if .Params.image }}
    {{- $major := index (split $version ".") 0 }}
    {{- $minor := index (split $version ".") 1 }}
    {{- $firstMinorPath := printf "/announcements/gear/%s.%s.0" $major $minor }}
    {{- if not (os.FileExists (printf "%s.md" $firstMinorPath)) }}
      {{- $firstMinorPath = printf "/announcements/gear/%s.%s" $major $minor }}
    {{- end }}
    {{- $firstMinor := .Sites.First.GetPage (printf "%s.md" $firstMinorPath) }}
    {{- if not $firstMinor.Params.hero_image }}
      {{- $firstMinorPath := "/announcements/gear/21.08.0" }}
      {{- $firstMinor = .Sites.First.GetPage (printf "%s.md" $firstMinorPath) }}
    {{- end }}
    {{- with $firstMinor.Params.hero_image }}
      {{- $image = printf "%s/%s" $firstMinorPath . }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if $image }}
<div class="position-relative">
    <figure style="background-image: url({{ $image }});" class="hero-image w-100" alt="{{ partial "fn/i18n_title" . }}" ></figure>
    
    <div class="donnorbox-container">
        <p>{{ i18n "gear-donation" }}</p>
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <iframe src="https://donorbox.org/embed/kde-community?default_interval=o&hide_donation_meter=true" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="550px" width="100%" style="max-width: 500px; min-width: 310px; max-height:none!important"></iframe>
    </div>
</div>
{{- end }}

<main id="main" {{- if ne $noContainer true }} class="container"{{ end }}>
  {{- if eq $noContainer true }}<div class="container">{{ end }}
    <h1 class="h3">{{ partial "fn/i18n_title" . }}</h1>
    {{ with .Params.subtitle }}<h2 class="h1">{{ . }}</h2>{{ end }}
    <p>{{ partial "i18n_date.html" . }}</p>
    <br>
  {{- if eq $noContainer true }}</div>{{ end }}

  {{ partial "rss_content.html" . }}

  {{- if eq $noContainer true }}<div class="container">{{ end }}
  {{- if not $isBugfix }}
  <p class="alert alert-info">{{ i18n "package-distro" }} <a class="learn-more" href="https://community.kde.org/Get_KDE_Software_on_Your_Linux_Distro">{{ i18n "package-wiki" }}</a></p>
  <h2>{{ i18n "compile-gear" }}</h2>
  {{- $version := .File.TranslationBaseName }}
  {{- $downloadLink := printf "https://download.kde.org/stable/release-service/%s/src" $version }}
  {{- $infoLink := printf "/info/releases-%s" $version }}
  <p>{{ partial "fn/i18n_args" (slice "compile-gear-desc" $version $downloadLink $infoLink) | markdownify }}</p>
  {{- end }}

  {{ partialCached "announcements/about_kde.html" . }}
  {{ partialCached "announcements/press_contacts.html" . }}
  {{ partial "copyright.html" . }}
  {{- if eq $noContainer true }}</div>{{ end }}
</main>
{{ end }}
